<%- include("header") %>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Details-->
								<div class="d-flex align-items-center flex-wrap mr-2">
									<!--begin::Title-->
									<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Categories</h5>
									<!--end::Title-->
									<!--begin::Separator-->
									<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
									<!--end::Separator-->
									<!--begin::Search Form-->
									<div class="d-flex align-items-center" id="kt_subheader_search">
										<span class="text-dark-50 font-weight-bold" id="kt_subheader_total"><%= cats.length %> Total</span>
										
									</div>
									<!--end::Search Form-->
									<!--begin::Group Actions-->
									<!--end::Group Actions-->
								</div>
								<!--end::Details-->
								<!--begin::Toolbar-->
								<!--end::Toolbar-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Card-->
								<div class="card card-custom">
									<!--begin::Header-->
									<div class="card-header flex-wrap border-0 pt-6 pb-0">
										<div class="card-title">
											<h3 class="card-label">Category Management
											<span class="d-block text-muted pt-2 font-size-sm">Categories</span></h3>
										</div>
										<div class="card-toolbar">
											<!--begin::Dropdown-->
											<!--<div class="dropdown dropdown-inline mr-2">-->
												<button type="button" class="btn btn-light-primary font-weight-bolder" data-toggle="modal" data-target="#exampleModalScrollable">
											    Add Category</button>
												<!--begin::Dropdown Menu-->
											<!--	<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">-->
													<!--begin::Navigation-->
											<!--		<ul class="navi flex-column navi-hover py-2">-->
											<!--			<li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Choose an option:</li>-->
											<!--			<li class="navi-item">-->
											<!--				<a href="#" class="navi-link">-->
											<!--					<span class="navi-icon">-->
											<!--						<i class="la la-print"></i>-->
											<!--					</span>-->
											<!--					<span class="navi-text">Print</span>-->
											<!--				</a>-->
											<!--			</li>-->
											<!--			<li class="navi-item">-->
											<!--				<a href="#" class="navi-link">-->
											<!--					<span class="navi-icon">-->
											<!--						<i class="la la-copy"></i>-->
											<!--					</span>-->
											<!--					<span class="navi-text">Copy</span>-->
											<!--				</a>-->
											<!--			</li>-->
											<!--			<li class="navi-item">-->
											<!--				<a href="#" class="navi-link">-->
											<!--					<span class="navi-icon">-->
											<!--						<i class="la la-file-excel-o"></i>-->
											<!--					</span>-->
											<!--					<span class="navi-text">Excel</span>-->
											<!--				</a>-->
											<!--			</li>-->
											<!--			<li class="navi-item">-->
											<!--				<a href="#" class="navi-link">-->
											<!--					<span class="navi-icon">-->
											<!--						<i class="la la-file-text-o"></i>-->
											<!--					</span>-->
											<!--					<span class="navi-text">CSV</span>-->
											<!--				</a>-->
											<!--			</li>-->
											<!--			<li class="navi-item">-->
											<!--				<a href="#" class="navi-link">-->
											<!--					<span class="navi-icon">-->
											<!--						<i class="la la-file-pdf-o"></i>-->
											<!--					</span>-->
											<!--					<span class="navi-text">PDF</span>-->
											<!--				</a>-->
											<!--			</li>-->
											<!--		</ul>-->
													<!--end::Navigation-->
											<!--	</div>-->
												<!--end::Dropdown Menu-->
											<!--</div>-->
											<!--end::Dropdown-->
											<!--begin::Button-->
											<!--<a href="#" class="btn btn-primary font-weight-bolder">-->
											<!--<span class="svg-icon svg-icon-md">-->
												<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
											<!--	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
											<!--		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
											<!--			<rect x="0" y="0" width="24" height="24"></rect>-->
											<!--			<circle fill="#000000" cx="9" cy="15" r="6"></circle>-->
											<!--			<path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3"></path>-->
											<!--		</g>-->
											<!--	</svg>-->
												<!--end::Svg Icon-->
											<!--</span>New Record</a>-->
											<!--end::Button-->
										</div>
									</div>
									<!--end::Header-->
									<!--begin::Body-->
									<div class="card-body">
									<% if(cats.length > 0)	{ %>									
									<!--begin: Datatable-->
										<table class="table table-bordered" id="tb">
											<thead>
												<tr>
													<th>Category</th>
													
													<th>Date Created</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
											    <% cats.forEach(cat => { %>
												<tr>
													
													<td><div class="d-flex align-items-center">
													<div class="symbol symbol-40 symbol-sm flex-shrink-0"><img class="" src="https://gapaautoparts.com<%= cat.img_url %>" alt="photo"></div><div class="ml-4"><div class="text-dark-75 font-weight-bolder font-size-lg mb-0"><%= cat.title %></div>
													</div></div></td>
													<td><%= moment(cat.createdAt).format("LL") %></td>
													<td><button type="button" class="btn btn-light-primary font-weight-bolder" onclick="open_edit('<%= cat.id %>', '<%= cat.title %>')">
											    Edit</button></td>
												
													
												</tr>
												<% }) %>
											</tbody>
										</table>
										<!--end: Datatable-->
										<% }else { %>
										<center class="mt-5 pt-3">
										    <img src="/clean.svg" height="200px" class="img mb-3"/>
										    <p class="small text-muted">No Category Added</p>
										</center>
										<% } %>
									</div>
									<!--end::Body-->
								</div>
								<!--end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
                        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       <form class="form fv-plugins-bootstrap fv-plugins-framework" onsubmit="sub(event)">
														<!--begin::Step 1-->
														<div class="pb-5">
															<h3 class="mb-10 font-weight-bold text-dark">Add Category</h3>
														    	<div class="form-group">
        														<label>Category Image</label>
        														<div></div>
        														<div class="custom-file">
        															<input type="file" class="custom-file-input" id="img" accept="image/png, image/gif, image/jpeg" required>
        															<label class="custom-file-label" for="customFile">Choose file</label>
        														</div>
        														<span class="form-text text-danger" id="err_img"></span>
        													</div>
															<div class="form-group fv-plugins-icon-container has-success">
																<label>Category Title</label>
																<input type="text" class="form-control form-control-lg" id="title" placeholder="Category Title" required>
																<span class="form-text text-muted">Enter Category Title.</span>
															<div class="fv-plugins-message-container"></div></div>
															
														</div>
														<!--end::Step 1-->
														<div class="form-group" id="err">
														    
														</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary font-weight-bold" id="btn">Submit</button></form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                         <div class="modal fade" id="editmod" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       <form class="form fv-plugins-bootstrap fv-plugins-framework" onsubmit="edit(event)">
														<!--begin::Step 1-->
														<div class="pb-5">
															<h3 class="mb-10 font-weight-bold text-dark">Edit Category</h3>
														    	<div class="form-group">
        														<label>Category Image</label>
        														<div></div>
        														<div class="custom-file">
        															<input type="file" class="custom-file-input" id="img2" accept="image/png, image/gif, image/jpeg">
        															<label class="custom-file-label" for="customFile">Choose file</label>
        														</div>
        														<span class="form-text text-danger" id="ed_err_img"></span>
        													</div>
															<div class="form-group fv-plugins-icon-container has-success">
																<label>Category Title</label>
																<input type="text" class="form-control form-control-lg" id="ed_title" placeholder="Category Title" required>
																<span class="form-text text-muted">Enter Category Title.</span>
															<div class="fv-plugins-message-container"></div></div>
															<input type="hidden" id="ed_id">
														</div>
														<!--end::Step 1-->
														<div class="form-group" id="ed_err">
														    
														</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary font-weight-bold" id="ed_btn">Submit</button></form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
<%- include("footer") %>
	<script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
	<script src="assets/js/pages/crud/datatables/basic/basic.js"></script>
	<script>
		    const open_edit = (id, name) => {
	        document.getElementById("ed_title").value = name
	        document.getElementById("ed_id").value = id
	        $("#editmod").modal("show")
	    }
         const sub = (event) => {         
             event.preventDefault()
          var fileName = document.getElementById("img").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
          document.getElementById("btn").innerHTML = "Loading..." 
          document.getElementById("btn").disabled = true
          document.getElementById("err_img").innerHTML = "" 
          document.getElementById("err").innerHTML = "" 
       if( document.getElementById("img").files.length == 0 ){

 document.getElementById("err_img").innerHTML = "No file selected" 
                    document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
}  
        else if (extFile !== "jpg" && extFile !=="jpeg" && extFile !=="png"){
          document.getElementById("err_img").innerHTML = "Please Select an image file" 
                              document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
        }  
       else{
 let fd = new FormData();
      var pic = $('#img')[0].files[0];

      fd.append('img', pic);
        fd.append('title', document.getElementById("title").value)
      axios.post('/create-cat',
          fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
    document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-success fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.message}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("btn").innerHTML = "Submit" 
    document.getElementById("btn").disabled = false
	location.reload()
            }
            	else if(res.data.error){
          document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
        document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
  document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${error.response.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
             document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false   }
            }
            else if(error){
            console.log(error)
  document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">Could not process your request please try again!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
            }
        }
        )
      }
      }
        const edit = (event) => {         
             event.preventDefault()
          var fileName = document.getElementById("img2").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
          document.getElementById("ed_btn").innerHTML = "Loading..." 
          document.getElementById("ed_btn").disabled = true
          document.getElementById("ed_err_img").innerHTML = "" 
          document.getElementById("ed_err").innerHTML = "" 
       if(document.getElementById("img2").files.length == 0){
      axios.post('/edit-cat-2',
         {
             title: document.getElementById("ed_title").value,
             id: document.getElementById("ed_id").value
         }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
    document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-success fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.message}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("ed_btn").innerHTML = "Submit" 
    document.getElementById("ed_btn").disabled = false
	location.reload()
            }
            	else if(res.data.error){
          document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
        document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
  document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${error.response.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
             document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false   }
            }
            else if(error){
            console.log(error)
  document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">Could not process your request please try again!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
            }
        }
        )
} else { 
    if (extFile !== "jpg" && extFile !=="jpeg" && extFile !=="png"){
          document.getElementById("err_img").innerHTML = "Please Select an image file" 
                              document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
        }  
       else{
 let fd = new FormData();
      var pic = $('#img2')[0].files[0];

      fd.append('img', pic);
        fd.append('title', document.getElementById("ed_title").value)
        fd.append('id', document.getElementById("ed_id").value)
      axios.post('/edit-cat',
          fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
    document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-success fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.message}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("ed_btn").innerHTML = "Submit" 
    document.getElementById("ed_btn").disabled = false
	location.reload()
            }
            	else if(res.data.error){
          document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
        document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
  document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${error.response.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
             document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false   }
            }
            else if(error){
            console.log(error)
  document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">Could not process your request please try again!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
            }
        }
        )
      }
}
      } 
</script>