<%- include("header") %>
<link href="assets/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css">
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Details-->
								<div class="d-flex align-items-center flex-wrap mr-2">
									<!--begin::Title-->
									<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Add Product</h5>
									<!--end::Title-->
									<!--begin::Separator-->
									<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
									<!--end::Separator-->
									<!--begin::Search Form-->
									<div class="d-flex align-items-center" id="kt_subheader_search">
										<span class="text-dark-50 font-weight-bold" id="kt_subheader_total">Enter Contact details and submit</span>
									</div>
									<!--end::Search Form-->
								</div>
								<!--end::Details-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-body p-0">
											<div class="wizard wizard-1" id="kt_projects_add" data-wizard-state="between" data-wizard-clickable="true">
											<!--begin::Wizard Nav-->
											<div class="wizard-nav border-bottom">
												<div class="wizard-steps p-8 p-lg-10">
													<div class="wizard-step" data-wizard-type="step" data-wizard-state="done">
														<div class="wizard-label">
															<span class="svg-icon svg-icon-4x wizard-icon">
																<!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Chat-check.svg-->
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<rect x="0" y="0" width="24" height="24"></rect>
																		<path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
																		<path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z" fill="#000000"></path>
																	</g>
																</svg>
																<!--end::Svg Icon-->
															</span>
															<h3 class="wizard-title">Contact Details</h3>
														</div>
														<span class="svg-icon svg-icon-xl wizard-arrow">
															<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<polygon points="0 0 24 0 24 24 0 24"></polygon>
																	<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
																	<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
																</g>
															</svg>
															<!--end::Svg Icon-->
														</span>
													</div>
												</div>
											</div>
											<!--end::Wizard Nav-->
											<!--begin::Wizard Body-->
											<div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
												<div class="col-xl-8 mx-auto col-xxl-7">
													<!--begin::Form Wizard-->
													<% if(!setting){ %>
													<form class="form fv-plugins-bootstrap fv-plugins-framework" onsubmit="sub(event)">
														<!--begin::Step 1-->
														<div class="pb-5">
															<h3 class="mb-10 font-weight-bold text-dark">Enter your products details</h3>
														
															<div class="form-group fv-plugins-icon-container has-success">
																<label>Enter Contact Address</label>
																<input type="text" class="form-control form-control-lg" id="address" placeholder="Address" required>
																<span class="form-text text-muted">Enter Contact Address.</span>
															<div class="fv-plugins-message-container"></div></div>
															<div class="form-group fv-plugins-icon-container has-success">
																<label>Enter Contact Email</label>
																<input type="email" class="form-control form-control-lg" id="email" placeholder="Email" required>
																<span class="form-text text-muted">Enter Contact Email.</span>
															<div class="fv-plugins-message-container"></div></div>
															<div class="form-group fv-plugins-icon-container has-success">
																<label>Enter Working Hours</label>
																<input type="text" class="form-control form-control-lg" id="hours" placeholder="Working Hours" required>
																<span class="form-text text-muted">Enter Working Hours.</span>
															<div class="fv-plugins-message-container"></div></div>
															<div class="row">
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Phone Number <b></b></label>
																		<input type="text" class="form-control form-control-lg" placeholder="Phone Number" id="phone" required>
																		<span class="form-text text-muted">Add Phone Number</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Second Phone Number</label>
																		<input type="text" class="form-control form-control-lg" placeholder="Second Phone Number" id="phone2" required>
																		<span class="form-text text-muted">Add Phone Number</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
															</div>
															
														</div>
														<!--end::Step 1-->
														<div class="form-group" id="err">
														    
														</div>
														<!--begin::Actions-->
														<div class="d-flex justify-content-between border-top mt-5 pt-10">
													
														<div class="btn-group ml-2">
                    										<button type="submit" class="btn btn-primary font-weight-bold" id="btn">Submit</button>
                    									</div>
														</div>
														<!--end::Actions-->
													<div></div><div></div><div></div></form>
													<% }else { %>
													<form class="form fv-plugins-bootstrap fv-plugins-framework" onsubmit="sub2(event)">
														<!--begin::Step 1-->
														<div class="pb-5">
															<h3 class="mb-10 font-weight-bold text-dark">Enter your products details</h3>
														
															<div class="form-group fv-plugins-icon-container has-success">
																<label>Enter Contact Address</label>
																<input type="text" class="form-control form-control-lg" id="address" placeholder="Address" value="<%= setting.address %>" required>
																<span class="form-text text-muted">Enter Contact Address.</span>
															<div class="fv-plugins-message-container"></div></div>
															<div class="form-group fv-plugins-icon-container has-success">
																<label>Enter Contact Email</label>
																<input type="email" class="form-control form-control-lg" id="email" placeholder="Email" value="<%= setting.email %>" required>
																<span class="form-text text-muted">Enter Contact Email.</span>
															<div class="fv-plugins-message-container"></div></div>
															<div class="form-group fv-plugins-icon-container has-success">
																<label>Enter Working Hours</label>
																<input type="text" class="form-control form-control-lg" id="hours" placeholder="Working Hours" value="<%= setting.hours %>" required>
																<span class="form-text text-muted">Enter Working Hours.</span>
															<div class="fv-plugins-message-container"></div></div>
															<div class="row">
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Phone Number <b></b></label>
																		<input type="text" class="form-control form-control-lg" id="phone" value="<%= setting.phone_1 %>" required>
																		<span class="form-text text-muted">Add Phone Number</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Second Phone Number</label>
																		<input type="text" class="form-control form-control-lg" id="phone2" value="<%= setting.phone_2 %>" required>
																		<span class="form-text text-muted">Add Phone Number</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
															</div>
															
														</div>
														<!--end::Step 1-->
														<div class="form-group" id="err">
														    
														</div>
														<!--begin::Actions-->
														<div class="d-flex justify-content-between border-top mt-5 pt-10">
													
														<div class="btn-group ml-2">
                    										<button type="submit" class="btn btn-primary font-weight-bold" id="btn">Edit</button>
                    									</div>
														</div>
														<!--end::Actions-->
													<div></div><div></div><div></div></form>
													<% } %>
													<!--end::Form Wizard-->
												</div>
											</div>
											<!--end::Wizard Body-->
										</div>
									</div>
								</div>
								<!--end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>

<%- include("footer") %>
<script>
         const sub = (event) => {
          event.preventDefault()
          document.getElementById("btn").innerHTML = "Loading..." 
          document.getElementById("btn").disabled = true
          document.getElementById("err").innerHTML = "" 
  
    
      axios.post('/create-contact',
          {
              address: document.getElementById("address").value,
              hours: document.getElementById("hours").value,
              email: document.getElementById("email").value,
              phone: document.getElementById("phone").value,
              phone2: document.getElementById("phone2").value
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
    document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-success fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.message}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("btn").innerHTML = "Submit" 
    document.getElementById("btn").disabled = false
	location.reload()
            }
            	else if(res.data.error){
          document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
        document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
  document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${error.response.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
             document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false   }
            }
            else if(error){
            console.log(error)
  document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">Could not process your request please try again!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
            }
        }
        )
      
      }
      <% if(setting && setting.id){ %>
              const sub2 = (event) => {
          event.preventDefault()
          document.getElementById("btn").innerHTML = "Loading..." 
          document.getElementById("btn").disabled = true
          document.getElementById("err").innerHTML = "" 
  
    
      axios.post('/edit-contact',
          {
              address: document.getElementById("address").value,
              hours: document.getElementById("hours").value,
              email: document.getElementById("email").value,
              phone: document.getElementById("phone").value,
              phone2: document.getElementById("phone2").value,
              id: '<%= setting.id %>'
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
    document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-success fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.message}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("btn").innerHTML = "Submit" 
    document.getElementById("btn").disabled = false
	location.reload()
            }
            	else if(res.data.error){
          document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
        document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
  document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${error.response.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
             document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false   }
            }
            else if(error){
            console.log(error)
  document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">Could not process your request please try again!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
            }
        }
        )
      
      }
      <% } %>
</script>