<%- include("header") %>
<link href="assets/css/pages/wizard/wizard-1.css" rel="stylesheet" type="text/css">
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Details-->
								<div class="d-flex align-items-center flex-wrap mr-2">
									<!--begin::Title-->
									<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Add Product</h5>
									<!--end::Title-->
									<!--begin::Separator-->
									<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
									<!--end::Separator-->
									<!--begin::Search Form-->
									<div class="d-flex align-items-center" id="kt_subheader_search">
										<span class="text-dark-50 font-weight-bold" id="kt_subheader_total">Enter Product details and submit</span>
									</div>
									<!--end::Search Form-->
								</div>
								<!--end::Details-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-body p-0">
											<div class="wizard wizard-1" id="kt_projects_add" data-wizard-state="between" data-wizard-clickable="true">
											<!--begin::Wizard Nav-->
											<div class="wizard-nav border-bottom">
												<div class="wizard-steps p-8 p-lg-10">
													<div class="wizard-step" data-wizard-type="step" data-wizard-state="done">
														<div class="wizard-label">
															<span class="svg-icon svg-icon-4x wizard-icon">
																<!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Chat-check.svg-->
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<rect x="0" y="0" width="24" height="24"></rect>
																		<path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
																		<path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z" fill="#000000"></path>
																	</g>
																</svg>
																<!--end::Svg Icon-->
															</span>
															<h3 class="wizard-title">Product Details</h3>
														</div>
														<span class="svg-icon svg-icon-xl wizard-arrow">
															<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<polygon points="0 0 24 0 24 24 0 24"></polygon>
																	<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
																	<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
																</g>
															</svg>
															<!--end::Svg Icon-->
														</span>
													</div>
												</div>
											</div>
											<!--end::Wizard Nav-->
											<!--begin::Wizard Body-->
											<div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
												<div class="col-xl-8 mx-auto col-xxl-7">
													<!--begin::Form Wizard-->
													<form class="form fv-plugins-bootstrap fv-plugins-framework" onsubmit="sub(event)">
														<!--begin::Step 1-->
														<div class="pb-5">
															<h3 class="mb-10 font-weight-bold text-dark">Enter your products details</h3> <button type="submit" data-toggle="modal" data-target="#md" style="margin-top: -10px;margin-bottom: 8px;" class="btn btn-primary font-weight-bold" id="copy">Copy Other Product</button>
															<div class="form-group">
														<label>Product Image</label>
														<div></div>
														<div class="custom-file">
															<input type="file" class="custom-file-input" id="img" accept="image/png, image/gif, image/jpeg" required>
															<label class="custom-file-label" for="customFile">Choose file</label>
														</div>
														<span class="form-text text-danger" id="err_img"></span>
													</div>
													
															<div class="form-group">
														<label>Product Image 2</label>
														<div></div>
														<div class="custom-file">
															<input type="file" class="custom-file-input" id="img2" accept="image/png, image/gif, image/jpeg" required>
															<label class="custom-file-label" for="customFile">Choose file</label>
														</div>
														<span class="form-text text-danger" id="err_img_2"></span>
													</div>
															<div class="form-group">
														<label>Product Image 3</label>
														<div></div>
														<div class="custom-file">
															<input type="file" class="custom-file-input" id="img3" accept="image/png, image/gif, image/jpeg" required>
															<label class="custom-file-label" for="customFile">Choose file</label>
														</div>
														<span class="form-text text-danger" id="err_img_3"></span>
													</div>
															<div class="form-group fv-plugins-icon-container has-success">
																<label>Product Title</label>
																<input type="text" class="form-control form-control-lg form-control-solid" id="title" placeholder="Product Title" required>
																<span class="form-text text-muted">Enter Product Title.</span>
															<div class="fv-plugins-message-container"></div></div>
															<div class="form-group fv-plugins-icon-container has-success">
																<label>Part Number</label>
																<input type="text" class="form-control form-control-lg form-control-solid" id="code" placeholder="Part Number" required>
																<span class="form-text text-muted">Enter Part Number.</span>
															<div class="fv-plugins-message-container"></div></div>
															<div class="form-group">
																<label>Description</label>
																<textarea rows="7" class="form-control form-control-lg form-control-solid" id="desc" required></textarea>
																<span class="form-text text-muted">Please Provide a description</span>
															</div>
															<div class="row">
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Price <b><%- cur %></b></label>
																		<input type="number" class="form-control form-control-lg form-control-solid" id="price" min="0" required>
																		<span class="form-text text-muted">Please enter product Price.</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Discount (%)</label>
																		<input type="text" class="form-control form-control-lg form-control-solid" id="discount" min="0" max="100" value="0" required>
																		<span class="form-text text-muted">Add Product discount</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
															</div>
															<div class="row">
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Category</label>
																		<select id="cat" class="form-control form-control-lg form-control-solid" required>
																			<option value="">Select</option>
																			<% cats.forEach(cat => { %>
																			<option value="<%= cat.slug %>"><%= cat.title %></option>
																			<% }) %>
																		</select>
																		<span class="form-text text-muted">Please select product category.</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Car (MODEL)</label>
																			<select id="car" class="form-control form-control-lg form-control-solid" required>
																			<option value="">Select</option>
																			<% brands.forEach(brand => { %>
																			<optgroup label="<%= brand.name %>">
																			<% brand.cars.forEach(car => { %>
																			  <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;<%= car.name %> " style="margin-left: 35px;">
																			 <% car.models.forEach(model => { %>
																			 	<option value="<%= model.id %>"><%= model.name %></option>
																			 <% }) %>
																		  </optgroup>  
																			<% }) %>
																			  </optgroup>  
																			<% }) %>
																		</select>
																		<span class="form-text text-muted">Please Select Product Car/Model</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
															</div>
															<div class="row">
																<div class="col-xl-6">
																		<div class="form-group fv-plugins-icon-container has-success">
																		<label>Product Available</label>
																		<select id="stock" class="form-control form-control-lg form-control-solid" required>
																			<option value="">-- Select Availablity --</option>
																			<option value="1">In Stock</option>
																			<option value="0">Out Of Stock</option>
																		</select>
																		<span class="form-text text-muted">Please provide availability.</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
																	<div class="col-xl-6">
																		<div class="form-group fv-plugins-icon-container has-success">
																		<label>Amount In Stock</label>
																		<input type="number" min="0" id="quantity" class="form-control form-control-lg form-control-solid" required/>
																		<span class="form-text text-muted">Please provide stock value.</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																	<label>Weight <b>KG</b></label>
																		<input type="number" class="form-control form-control-lg form-control-solid" step="any" min="0" id="weight"required>
																		<span class="form-text text-muted">Please provide product weight.</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
																<div class="col-xl-12">
	                                                            <div class="form-group fv-plugins-icon-container has-success">
																		<label>Product Manufacturer</label>
																			<select id="maker_id" class="form-control form-control-lg form-control-solid" required>
																			<option value="">Select</option>
																			<% makers.forEach(maker => { %>
																			 	<option value="<%= maker.id %>"><%= maker.name %></option>
																		
																			<% }) %>
																		</select>
																		<span class="form-text text-muted">Please Select Product Manufacturer</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
															</div>
														</div>
														<!--end::Step 1-->
														<div class="form-group" id="err">
														    
														</div>
														<!--begin::Actions-->
														<div class="d-flex justify-content-between border-top mt-5 pt-10">
													
														<div class="btn-group ml-2">
                    										<button type="submit" class="btn btn-primary font-weight-bold" id="btn">Submit</button>
                    									</div>
														</div>
														<!--end::Actions-->
													<div></div><div></div><div></div></form>
													<!--end::Form Wizard-->
												</div>
											</div>
											<!--end::Wizard Body-->
										</div>
									</div>
								</div>
								<!--end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
				 <div class="modal fade" id="md" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Copy Part Details</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="background-color:#DAF0FD;">
                                     	<div class="d-flex flex-column flex-lg-row-auto w-auto w-lg-350px w-xl-450px w-xxl-500px p-10 p-md-20">
															<h1 class="font-weight-bolder text-dark">Search Parts</h1>
															<div class="font-size-h4 mb-8">Enter Product Code / Part Number</div>
															<!--begin::Form-->
															<form class="d-flex flex-center py-2 px-6 bg-white rounded" onsubmit="srch(event)">
																<span class="svg-icon svg-icon-lg svg-icon-primary">
																	<!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24" />
																			<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																			<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
																		</g>
																	</svg>
																	<!--end::Svg Icon-->
																</span>
																<input type="input" id="search" class="form-control border-0 font-weight-bold pl-2" placeholder="Part Number / Product Code" required />
																<button type="submit" class="btn btn-light-primary font-weight-bold">Submit</button>
															</form>
															<div id="err" class="mt-2" style="display: none"></div><div class="mt-3 shadow-sm" id="results" style="width: 100%; background: #fff; padding: 5px 7px 5px 7px; display: none;position: relative;">
																    
																</div>
															<!--end::Form-->
														</div>
														<div class="d-none d-md-flex flex-row-fluid bgi-no-repeat bgi-position-y-center bgi-position-x-left bgi-size-cover" style="background-image: url(assets/media/svg/illustrations/progress.svg);"></div>
													
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
<%- include("footer") %>
<script>
         const sub = (event) => {
          event.preventDefault()
          var fileName = document.getElementById("img").value;
          var fileName_2 = document.getElementById("img2").value;
          var fileName_3 = document.getElementById("img3").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        var extFile_2 = fileName.substr(idxDot, fileName_2.length).toLowerCase();
        var extFile_3 = fileName.substr(idxDot, fileName_3.length).toLowerCase();
          document.getElementById("btn").innerHTML = "Loading..." 
          document.getElementById("btn").disabled = true
          document.getElementById("err_img").innerHTML = "" 
          document.getElementById("err").innerHTML = "" 
       if( document.getElementById("img").files.length == 0 ){

 document.getElementById("err_img").innerHTML = "No file selected" 
                    document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
}  
        else if (extFile !== "jpg" && extFile !=="jpeg" && extFile !=="png"){
          document.getElementById("err_img").innerHTML = "Please Select an image file" 
                              document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
        }  
               else if( document.getElementById("img2").files.length == 0 ){

 document.getElementById("err_img_2").innerHTML = "No file selected" 
                    document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
}  
        else if (extFile_2 !== "jpg" && extFile_2 !=="jpeg" && extFile_2 !=="png"){
          document.getElementById("err_img_2").innerHTML = "Please Select an image file" 
                              document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
        }  
               else if( document.getElementById("img3").files.length == 0 ){

 document.getElementById("err_img_3").innerHTML = "No file selected" 
                    document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
}  
        else if (extFile_3 !== "jpg" && extFile_3 !=="jpeg" && extFile_3 !=="png"){
          document.getElementById("err_img_3").innerHTML = "Please Select an image file" 
                              document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
        }  
       else{
 let fd = new FormData();
      var pic = $('#img')[0].files[0];
      var pic_2 = $('#img2')[0].files[0];
      var pic_3 = $('#img3')[0].files[0];



      fd.append('img', pic);
      fd.append('img_2', pic_2);
      fd.append('img_3', pic_3);
        fd.append('title', document.getElementById("title").value)
        fd.append('desc', document.getElementById("desc").value)
        fd.append('price', document.getElementById("price").value)
        fd.append('discount', document.getElementById("discount").value)
        fd.append('cat', document.getElementById("cat").value)
        fd.append('model_id', document.getElementById("car").value)
        fd.append('stock', document.getElementById("stock").value)
        fd.append('quantity', document.getElementById("quantity").value)
        fd.append('product_code', document.getElementById("code").value)
        fd.append('weight', document.getElementById("weight").value)
        fd.append('maker_id', document.getElementById("maker_id").value)
         console.log(fd.get("title"), fd.get('desc'),fd.get("price"), fd.get('discount'),fd.get("cat"), fd.get('car_id'),fd.get("quantity"), fd.get('weight'))
      axios.post('/create-product',
          fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message && res.data.path){
    document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-success fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.message}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("btn").innerHTML = "Submit" 
    document.getElementById("btn").disabled = false
	location.href = res.data.path
            }
            	else if(res.data.error){
          document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
        document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
  document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${error.response.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
             document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false   }
            }
            else if(error){
            console.log(error)
  document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">Could not process your request please try again!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
            }
        }
        )
      }
      }
      
      const srch = (event) => {
          event.preventDefault()
                axios.post("/find-by-code", {
          text: document.getElementById("search").value
      }).then(res => {
          if(res.data.data){
              console.log(res.data.data)
              if(res.data.data.length == 0){
                   document.getElementById("results").style.display = "block";
               return  document.getElementById("results").innerHTML = '<a class="text-danger nav-link small">No Results Found</a>';
            }
              document.getElementById("results").style.display = "block";
              var txt = ''
              res.data.data.forEach(part => {
                  txt += `<a onclick="copy('${part.name}', '${part.product_code}', \`${part.description}\`, '${part.price}', '${part.discount}', '${part.category}', '${part.model.id}', ${part.available}, ${part.stock}, '${part.weight_in_kg}', ${part.maker_id})" class="nav-link small" style="cursor: pointer;">${part.name} | ${part.model.name} | ${part.model.car.name} [${part.model.car.brand.name}]</a>`
              })
              document.getElementById("results").innerHTML = txt
          }else {
              document.getElementById("results").style.display = "none";
               document.getElementById("results").innerHTML = "";
          }
      })
      }
      const copy = function(title, part_number, desc, price, dis, category, model, available, stock, weight, maker) {
             document.getElementById("title").value = title
        document.getElementById("desc").value = desc
        document.getElementById("price").value = parseInt(price)
        document.getElementById("discount").value = dis
        document.getElementById("cat").value = category
        document.getElementById("car").value = model
        document.getElementById("stock").value = Number(available)
        document.getElementById("quantity").value = stock
        document.getElementById("code").value = part_number
        document.getElementById("weight").value = weight
        document.getElementById("maker_id").value = maker
        
        document.getElementById('search').value = ""
        document.getElementById('results').innerHTML = ""
        $('#md').modal('hide');
      }
</script>