<%- include("header") %>
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Page Layout-->
								<div class="d-flex flex-row">
									<!--begin::Aside-->
									<div class="flex-column offcanvas-mobile w-300px w-xl-325px">
									
										<!--begin::List Widget 21-->
										<div class="card card-custom gutter-b">
											<!--begin::Header-->
											<div class="card-header border-0 pt-5">
												<h3 class="card-title align-items-start flex-column mb-5">
													<span class="card-label font-weight-bolder text-dark mb-1">Recent Products</span>
													<span class="text-muted mt-2 font-weight-bold font-size-sm">New Arrivals</span>
												</h3>
												<div class="card-toolbar">
													<div class="dropdown dropdown-inline">
														<a href="#" class="btn btn-clean btn-sm btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="ki ki-bold-more-hor"></i>
														</a>
														<div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
															<!--begin::Navigation-->
															<ul class="navi navi-hover">
																<li class="navi-header font-weight-bold py-4">
																	<span class="font-size-lg">Choose Action:</span>
																	<
																</li>
																<li class="navi-separator mt-3 opacity-70"></li>
																<li class="navi-footer py-4">
																	<a class="btn btn-clean font-weight-bold btn-sm" href="/create-product">
																	<i class="ki ki-plus icon-sm"></i>Add new</a>
																</li>
															</ul>
															<!--end::Navigation-->
														</div>
													</div>
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-2">
											    <% function truncate(input) {
                                                   if (input.length > 40) {
                                                      return input.substring(0, 40) + '...';
                                                   }
                                                   return input;
                                                }; %>
											    <% if(parts.length > 0){ %>
											    <% parts.forEach(part => { %>
												<!--begin::Item-->
												<div class="d-flex mb-8">
													<!--begin::Symbol-->
													<div class="symbol symbol-50 symbol-2by3 flex-shrink-0 mr-4">
														<div class="d-flex flex-column">
															<div class="symbol-label mb-3" style="background-image: url('https://gapaautoparts.com<%= part.img_url %>')"></div>
															<a href="/products/<%= part.id %>" class="btn btn-light-primary font-weight-bolder py-2 font-size-sm">View</a>
														</div>
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3">
														<a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg mb-2"><%= part.name %></a>
														<span class="text-muted font-weight-bold font-size-sm mb-3"><%= truncate(part.description) %></span>
														<span class="text-muted font-weight-bold font-size-lg">Price:
														<span class="text-dark-75 font-weight-bolder"><%= part.price %><%- cur %>(- <%= part.discount %>%)</span></span>
													</div>
													<!--end::Title-->
												</div>
												<!--end::Item-->
												<% }) %>
												<% }else { %>
												  <div class="col-xl-6 mt-5 pt-3 mx-auto">
                                                    <center class="mt-5 pt-4">
                                    				        <img src="/clean.svg" height="100px" class="mb-3 mt-3">
                                    				        <p class="small mt-2 mb-4">No Products available</p>
                                    				        <a href="/create-product" class="btn btn-sm btn-primary mb-3"> Create Part</a>
                                    				    </center>
                                    				    </div>
												<% } %>
											</div>
											<!--end::Body-->
										</div>
										<!--end::List Widget 21-->
									</div>
									<!--end::Aside-->
									<!--begin::Layout-->
									<div class="flex-row-fluid ml-lg-8">
									   
										<!--begin::Card-->
										<div class="card card-custom card-stretch gutter-b">
											<div class="card-body">
											     <div class="mb-3 d-flex">
									        <p style="margin-top: 0.95rem" class="mr-2">Coming Soon?</p>
									        <span class="switch switch-icon">
																<label>
																	<input type="checkbox" <% if(setting && setting.coming_soon == "true"){ %>checked="checked"<% } %> name="toggle" id="coming_soon">
																	<span></span>
																</label>
															</span>
									    </div>
												<!--begin::Engage Widget 15-->
												<div class="card card-custom mb-12">
													<div class="card-body rounded p-0 d-flex" style="background-color:#DAF0FD;">
														<div class="d-flex flex-column flex-lg-row-auto w-auto w-lg-350px w-xl-450px w-xxl-500px p-10 p-md-20">
															<h1 class="font-weight-bolder text-dark">Search Parts</h1>
															<div class="font-size-h4 mb-8">Find Products</div>
															<!--begin::Form-->
															<form class="d-flex flex-center py-2 px-6 bg-white rounded">
																<span class="svg-icon svg-icon-lg svg-icon-primary">
																	<!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24" />
																			<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																			<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
																		</g>
																	</svg>
																	<!--end::Svg Icon-->
																</span>
																<input type="search" class="form-control border-0 font-weight-bold pl-2" placeholder="Search Parts" />
																
															</form><div class="mt-3 shadow-sm" id="results" style="width: 100%; background: #fff; padding: 5px 7px 5px 7px; display: none;position: relative;">
																    
																</div>
															<!--end::Form-->
														</div>
														<div class="d-none d-md-flex flex-row-fluid bgi-no-repeat bgi-position-y-center bgi-position-x-left bgi-size-cover" style="background-image: url(assets/media/svg/illustrations/progress.svg);"></div>
													</div>
												</div>
												<!--end::Engage Widget 15-->
												<!--begin::Section-->
												<div class="mb-11">
													<!--begin::Heading-->
													<div class="d-flex justify-content-between align-items-center mb-7">
														<h2 class="font-weight-bolder text-dark font-size-h3 mb-0">Spare Part Categories</h2>
														<a href="/categories" class="btn btn-light-primary btn-sm font-weight-bolder">Add Category</a>
													</div>
													<!--end::Heading-->
													<!--begin::Products-->
													<div class="row">
													    <% cats.forEach(cat => { %> 
														<!--begin::Product-->
														<div class="col-md-6 col-xxl-6 col-lg-6 col-sm-12">
															<!--begin::Card-->
															<div class="card card-custom card-shadowless">
																<div class="card-body p-0">
																	<!--begin::Image-->
																	<div class="overlay">
																		<div class="overlay-wrapper rounded bg-light text-center" style="height: 200px; background: url(https://gapaautoparts.com<%= cat.img_url %>); background-size: cover; background-position: center;">
																			<!--<img src="" alt="" class="mw-100 w-200px" />-->
																		</div>
																		<div class="overlay-layer">
																			<a href="/categories/<%= cat.slug %>" class="btn font-weight-bolder btn-sm btn-light-primary">Products</a>
																		</div>
																	</div>
																	<!--end::Image-->
																	<!--begin::Details-->
																	<div class="text-center mt-5 mb-md-0 mb-lg-5 mb-md-0 mb-lg-5 mb-lg-0 mb-5 d-flex flex-column">
																		<a href="#" class="font-size-h5 font-weight-bolder text-dark-75 text-hover-primary mb-1"><%= cat.title %></a>
																		
																	</div>
																	<!--end::Details-->
																</div>
															</div>
															<!--end::Card-->
														</div>
														<!--end::Product-->
														<!--end::Product-->
														<% }) %>
													</div>
													<!--end::Products-->
												</div>
												<!--end::Section-->
										</div>
										<!--end::Card-->
									</div>
									<!--end::Layout-->
								</div>
								<!--end::Page Layout-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
					<!--end::Content-->
<%- include("footer") %>
<script>
$("#coming_soon").change(function() {
    if(this.checked) {
          axios.post("/toggle-coming", {
          status: 1
      }).then(res => {
        location.reload
      })
    }else {
    axios.post("/toggle-coming", {
          status: 2
      }).then(res => {
        location.reload
      }) 
    }
});
    $('input[type=search]').on('input', function(){
   clearTimeout(this.delay);
   this.delay = setTimeout(function(){
      console.log(this.value);
      if(this.value){
      /* call ajax request here */
      axios.post("/search-parts", {
          text: this.value
      }).then(res => {
          if(res.data.data){
              console.log(res.data.data)
              if(res.data.data.length == 0){
                  return  document.getElementById("results").style.display = "none";
               document.getElementById("results").innerHTML = "";
            }
              document.getElementById("results").style.display = "block";
              var txt = ''
              res.data.data.forEach(part => {
                  txt += `<a href="/products/${part.id}" class="nav-link small">${part.name}</a>`
              })
              document.getElementById("results").innerHTML = txt
          }else {
              document.getElementById("results").style.display = "none";
               document.getElementById("results").innerHTML = "";
          }
      })
      }else {
          document.getElementById("results").style.display = "none";
               document.getElementById("results").innerHTML = "";
      }
   }.bind(this), 800);
});
</script>