<%- include("header") %>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Details-->
								<div class="d-flex align-items-center flex-wrap mr-2">
									<!--begin::Title-->
									<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Featured Spare Parts</h5>
									<!--end::Title-->
									<!--begin::Separator-->
									<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
									<!--end::Separator-->
									<!--begin::Search Form-->
									
									<!--end::Search Form-->
									<!--begin::Group Actions-->
									<!--end::Group Actions-->
								</div>
								<!--end::Details-->
								<!--begin::Toolbar-->
								<div class="d-flex align-items-center">
									<!--begin::Button-->
									<a href="#" class=""></a>
									<!--end::Button-->
									<!--begin::Button-->
								
									<!--end::Button-->
						
								</div>
								<!--end::Toolbar-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Row-->
								<div class="row">
								    <% data.forEach(dat => { %>
								    <div class="col-xl-8 mx-auto">
								    <div class="card card-custom card-stretch gutter-b">
											<!--begin::Header-->
											<div class="card-header border-0">
												<h3 class="card-title font-weight-bolder text-dark"><%= dat.title %></h3>
												<div class="card-toolbar">
														<a  data-toggle="modal" data-target="#md_<%= dat.id %>" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon" >
															<i class="fa fa-plus"></i>
														</a>
													
												</div>
											</div>
											 <div class="modal fade" id="md_<%= dat.id %>" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Featured Product (<%= dat.title %>)</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="background-color:#DAF0FD;">
                                     	<div class="d-flex flex-column flex-lg-row-auto w-auto w-lg-350px w-xl-450px w-xxl-500px p-10 p-md-20">
															<h1 class="font-weight-bolder text-dark">Search Parts</h1>
															<div class="font-size-h4 mb-8">Find Products</div>
															<!--begin::Form-->
															<form class="d-flex flex-center py-2 px-6 bg-white rounded">
															    <input id="ed_id" type="hidden">
																<span class="svg-icon svg-icon-lg svg-icon-primary">
																	<!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24" />
																			<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																			<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
																		</g>
																	</svg>
																	<!--end::Svg Icon-->
																</span>
																<input type="search" id="search_<%= dat.id %>" class="form-control border-0 font-weight-bold pl-2" placeholder="Search Parts" />
																
															</form>
															<div id="err_<%= dat.id %>" class="mt-2" style="display: none"></div><div class="mt-3 shadow-sm" id="results<%= dat.id %>" style="width: 100%; background: #fff; padding: 5px 7px 5px 7px; display: none;position: relative;">
																    
																</div>
															<!--end::Form-->
														</div>
														<div class="d-none d-md-flex flex-row-fluid bgi-no-repeat bgi-position-y-center bgi-position-x-left bgi-size-cover" style="background-image: url(assets/media/svg/illustrations/progress.svg);"></div>
													
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body pt-2">
											    <% dat.parts.forEach(part => { %> 
												<!--begin::Item-->
												<div class="d-flex flex-wrap align-items-center mb-10">
													<!--begin::Symbol-->
													<div class="symbol symbol-60 symbol-2by3 flex-shrink-0">
														<div class="symbol-label" style="background-image: url('https://gapaautoparts.com<%= part.part.img_url %>')"></div>
													</div>
													<!--end::Symbol-->
													<!--begin::Title-->
													<div class="d-flex flex-column ml-4 flex-grow-1 mr-2">
														<a href="#" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1"><%= part.part.name %></a>
														<span class="text-muted font-weight-bold">Created: <%= moment(part.part.createdAt).format("LL") %></span>
													</div>
													<!--end::Title-->
													<!--begin::btn-->
													<span class="label label-lg label-light-danger label-inline mt-lg-0 mb-lg-0 my-2 font-weight-bold py-4">Remove</span>
													<!--end::Btn-->
												</div>
												<!--end::Item-->
												<% }) %>
											</div>
											<!--end::Body-->
										</div>
								    </div>
								    <% }) %>
								</div>
								<!--end::Row-->
								<!--end::Row-->
							    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Featured Product</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="background-color:#DAF0FD;">
                                     	<div class="d-flex flex-column flex-lg-row-auto w-auto w-lg-350px w-xl-450px w-xxl-500px p-10 p-md-20">
															<h1 class="font-weight-bolder text-dark">Search Parts</h1>
															<div class="font-size-h4 mb-8">Find Products</div>
															<!--begin::Form-->
															<form class="d-flex flex-center py-2 px-6 bg-white rounded">
																<span class="svg-icon svg-icon-lg svg-icon-primary">
																	<!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24" />
																			<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																			<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
																		</g>
																	</svg>
																	<!--end::Svg Icon-->
																</span>
																<input type="search" class="form-control border-0 font-weight-bold pl-2" placeholder="Search Parts" />
																
															</form><div class="mt-3 shadow-sm" id="results" style="width: 100%; background: #fff; padding: 5px 7px 5px 7px; display: none;position: relative;">
																    
																</div>
															<!--end::Form-->
														</div>
														<div class="d-none d-md-flex flex-row-fluid bgi-no-repeat bgi-position-y-center bgi-position-x-left bgi-size-cover" style="background-image: url(assets/media/svg/illustrations/progress.svg);"></div>
													
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                               
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>

<%- include("footer") %>
<script>

<% data.forEach(dat => { %>

$('#search_<%= dat.id %>').on('input', function(){
   clearTimeout(this.delay);
   this.delay = setTimeout(function(){
      console.log(this.value);
      if(this.value){
      /* call ajax request here */
      axios.post("/search-parts", {
          text: this.value,
          cat: '<%- dat.slug %>'
      }).then(res => {
          if(res.data.data){
              console.log(res.data.data)
              if(res.data.data.length == 0){
                   document.getElementById("results<%= dat.id%>").style.display = "block";
               return  document.getElementById("results<%= dat.id %>").innerHTML = '<a class="text-danger nav-link small">No Results Found</a>';
            }
              document.getElementById("results<%= dat.id%>").style.display = "block";
              var txt = ''
              res.data.data.forEach(part => {
                  txt += `<a onclick="add_top_<%= dat.id %>('${part.id}')" class="nav-link small" style="cursor: pointer;">${part.name}</a>`
              })
              document.getElementById("results<%= dat.id%>").innerHTML = txt
          }else {
              document.getElementById("results<%= dat.id%>").style.display = "none";
               document.getElementById("results<%= dat.id%>").innerHTML = "";
          }
      })
      }else {
          document.getElementById("results<%= dat.id %>").style.display = "none";
               document.getElementById("results<%= dat.id %>").innerHTML = "";
               
      }
   }.bind(this), 800);
});

const add_top_<%= dat.id %> = (id) => {
     document.getElementById("err_<%= dat.id %>").style.display = "none"
    axios.post('/add-featured', {
        part_id: id,
        slug: '<%- dat.slug %>'
    }).then(res => {
        if(res.data.message){
            document.getElementById("err_<%= dat.id %>").style.display = "block"
          document.getElementById("err_<%= dat.id %>").innerHTML = `<p class="small text-success">${res.data.message}</p>`  
          location.reload()
        }else if(res.data.error) {
            document.getElementById("err_<%= dat.id %>").style.display = "block"
          document.getElementById("err_<%= dat.id %>").innerHTML = `<p class="small text-danger">${res.data.error}</p>`    
        }
    }).catch(err => {
    if(err){
        document.getElementById("err_<%= dat.id %>").style.display = "block"
        if(err.response){
            document.getElementById("err_<%= dat.id %>").innerHTML = `<p class="small text-danger">${err.response.data.message}</p>`  
        }else {
            document.getElementById("err_<%= dat.id %>").innerHTML = `<p class="small text-danger">There was an error processing the request</p>`  
    }
    }
    })
}

<% }) %>
//       $('input[type=search]').on('input', function(){
//   clearTimeout(this.delay);
//   this.delay = setTimeout(function(){
//       console.log(this.value);
//       if(this.value){
//       /* call ajax request here */
//       axios.post("/search-parts", {
//           text: this.value
//       }).then(res => {
//           if(res.data.data){
//               console.log(res.data.data)
//               if(res.data.data.length == 0){
//                   return  document.getElementById("results").style.display = "none";
//               document.getElementById("results").innerHTML = "";
//             }
//               document.getElementById("results").style.display = "block";
//               var txt = ''
//               res.data.data.forEach(part => {
//                   txt += `<a onclick="add_top('${part.id}')" class="nav-link small">${part.name}</a>`
//               })
//               document.getElementById("results").innerHTML = txt
//           }else {
//               document.getElementById("results").style.display = "none";
//               document.getElementById("results").innerHTML = "";
//           }
//       })
//       }else {
//           document.getElementById("results").style.display = "none";
//               document.getElementById("results").innerHTML = "";
//       }
//   }.bind(this), 800);
// });
</script>