	<!--begin::Footer-->
					<div class="footer py-2 py-lg-0 my-5 d-flex flex-lg-column" id="kt_footer">
						<!--begin::Container-->
						<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
							<!--begin::Copyright-->
							<div class="text-dark order-2 order-md-1">
								<span class="text-muted font-weight-bold mr-2">2021©</span>
								<a href="http://gapaautoparts.com" target="_blank" class="text-dark-75 text-hover-primary">GAPANAIJA</a>
							</div>
							<!--end::Copyright-->
						
						</div>
						<!--end::Container-->
					</div>
					<!--end::Footer-->
				</div>

			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->

		<!--end::Demo Panel-->
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#663259", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#F4E1F0", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="assets/plugins/global/plugins.bundle.js"></script>
		<script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="assets/js/scripts.bundle.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>		
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
		<!--end::Global Theme Bundle-->
	<script src="https://js.pusher.com/7.0.3/pusher.min.js"></script>
	<script>
 const grantPermission = () => {
      if (!('Notification' in window)) {
        alert('This browser does not support system notifications');
        return;
      }
    
      if (Notification.permission === 'granted') {
        new Notification('You are already subscribed to web notifications');
        return;
      }
    
      if (
        Notification.permission !== 'denied' ||
        Notification.permission === 'default'
      ) {
        Notification.requestPermission().then(result => {
          if (result === 'granted') {
            const notification = new Notification(
              'Awesome! You will start receiving notifications shortly'
            );
          }
        });
      }
    };
    
    const showNotification = data => {
    //   const title = `${data.pusher.name} pushed to the ${
    //     data.repository.name
    //   } repo`;
    
      new Notification(data);
    };
    
    const pusher = new Pusher('5bee59e13c42b1428b28', {
      cluster: 'eu',
      encrypted: true,
    });
    
    const channel = pusher.subscribe('New-order');
    channel.bind('order', data => {
      showNotification('A new order was recieved');
    });
    
    const subscribe = document.getElementById('subscribe');

      grantPermission();

        </script>
	</body>
	<!--end::Body-->
</html>