<!DOCTYPE html>

<html lang="en">
	<!--begin::Head-->
	<head><base href="/">
		<meta charset="utf-8" />
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
		<!--end::Fonts-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--end::Layout Themes-->
		<style>
		    html, body {
		        font-family: 'Poppins', sans-serif!important;
		    }
		</style>
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-mobile-fixed sidebar-enabled page-loading">
		<!--begin::Main-->
		<!--begin::Header Mobile-->
		<div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
			<!--begin::Logo-->
			<a href="/">
				<img alt="Logo" src="https://gapaautoparts.com/img/Gapa_new_1.png" class="logo-default max-h-30px" />
			</a>
			<!--end::Logo-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<button class="btn p-0 burger-icon burger-icon-left rounded-0" id="kt_header_mobile_toggle">
					<span></span>
				</button>
				<!--<button class="btn btn-hover-icon-primary p-0 ml-5" id="kt_sidebar_mobile_toggle">-->
				<!--	<span class="svg-icon svg-icon-xl">-->
						<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Substract.svg-->
				<!--		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
				<!--			<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
				<!--				<rect x="0" y="0" width="24" height="24" />-->
				<!--				<path d="M6,9 L6,15 C6,16.6568542 7.34314575,18 9,18 L15,18 L15,18.8181818 C15,20.2324881 14.2324881,21 12.8181818,21 L5.18181818,21 C3.76751186,21 3,20.2324881 3,18.8181818 L3,11.1818182 C3,9.76751186 3.76751186,9 5.18181818,9 L6,9 Z" fill="#000000" fill-rule="nonzero" />-->
				<!--				<path d="M10.1818182,4 L17.8181818,4 C19.2324881,4 20,4.76751186 20,6.18181818 L20,13.8181818 C20,15.2324881 19.2324881,16 17.8181818,16 L10.1818182,16 C8.76751186,16 8,15.2324881 8,13.8181818 L8,6.18181818 C8,4.76751186 8.76751186,4 10.1818182,4 Z" fill="#000000" opacity="0.3" />-->
				<!--			</g>-->
				<!--		</svg>-->
						<!--end::Svg Icon-->
				<!--	</span>-->
				<!--</button>-->
				<button class="btn btn-hover-icon-primary p-0 ml-2" id="kt_aside_mobile_toggle">
					<span class="svg-icon svg-icon-xl">
						<!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<polygon points="0 0 24 0 24 24 0 24" />
								<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
								<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
							</g>
						</svg>
						<!--end::Svg Icon-->
					</span>
				</button>
			<!--</div>-->
			<!--end::Toolbar-->
		</div>
		</div>
		<!--end::Header Mobile-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Aside-->
				<div class="aside aside-left d-flex flex-column" id="kt_aside">
					<!--begin::Brand-->
					<div class="aside-brand d-flex flex-column align-items-center flex-column-auto py-9">
						<!--begin::Logo-->
						<div class="btn p-0 symbol symbol-40 symbol-success" href="?page=index" id="kt_quick_user_toggle">
							<div class="symbol-label">
								<img alt="Logo" src="assets/media/svg/avatars/007-boy-2.svg" class="h-75 align-self-end" />
							</div>
						</div>
						<!--end::Logo-->
					</div>
					<!--end::Brand-->
					<!--begin::Nav Wrapper-->
					<div class="aside-nav d-flex flex-column align-items-center flex-column-fluid pb-10">
						<!--begin::Nav-->
						<ul class="nav flex-column">
							<!--begin::Item-->
							<li class="nav-item mb-2" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="Withdrawal Requests">
								<a href="/withdraws" class="nav-link btn btn-icon btn-lg btn-borderless active">
								<span class="svg-icon svg-icon-xxl"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo10/dist/../src/media/svg/icons/Shopping/Money.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"/>
                                        <path d="M2,6 L21,6 C21.5522847,6 22,6.44771525 22,7 L22,17 C22,17.5522847 21.5522847,18 21,18 L2,18 C1.44771525,18 1,17.5522847 1,17 L1,7 C1,6.44771525 1.44771525,6 2,6 Z M11.5,16 C13.709139,16 15.5,14.209139 15.5,12 C15.5,9.790861 13.709139,8 11.5,8 C9.290861,8 7.5,9.790861 7.5,12 C7.5,14.209139 9.290861,16 11.5,16 Z" fill="#000000" opacity="0.3" transform="translate(11.500000, 12.000000) rotate(-345.000000) translate(-11.500000, -12.000000) "/>
                                        <path d="M2,6 L21,6 C21.5522847,6 22,6.44771525 22,7 L22,17 C22,17.5522847 21.5522847,18 21,18 L2,18 C1.44771525,18 1,17.5522847 1,17 L1,7 C1,6.44771525 1.44771525,6 2,6 Z M11.5,16 C13.709139,16 15.5,14.209139 15.5,12 C15.5,9.790861 13.709139,8 11.5,8 C9.290861,8 7.5,9.790861 7.5,12 C7.5,14.209139 9.290861,16 11.5,16 Z M11.5,14 C12.6045695,14 13.5,13.1045695 13.5,12 C13.5,10.8954305 12.6045695,10 11.5,10 C10.3954305,10 9.5,10.8954305 9.5,12 C9.5,13.1045695 10.3954305,14 11.5,14 Z" fill="#000000"/>
                                    </g>
                                </svg><!--end::Svg Icon--></span>
								</a>
							</li>
							<!--end::Item-->
							<!--begin::Item-->
							<li class="nav-item mb-2" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="Users">
								<a href="/users" class="nav-link btn btn-icon btn-lg btn-borderless"  data-target="#kt_aside_tab_2" role="tab">
									<span class="svg-icon svg-icon-xxl">
										<!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Group.svg-->
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<polygon points="0 0 24 0 24 24 0 24" />
												<path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
			0.0204617505,20.45918									<path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 - 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
											</g>
										</svg>
										<!--end::Svg Icon-->
									</span>
								</a>
							</li>
							<!--end::Item-->
							<!--begin::Item-->
							<li class="nav-item mb-2" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="Send Mail">
								<a href="/mail" class="nav-link btn btn-icon btn-lg btn-borderless"  data-target="#kt_aside_tab_3" role="tab">
								<span class="svg-icon svg-icon-xxl"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo10/dist/../src/media/svg/icons/Communication/Outgoing-mail.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"/>
                                        <path d="M5,9 L19,9 C20.1045695,9 21,9.8954305 21,11 L21,20 C21,21.1045695 20.1045695,22 19,22 L5,22 C3.8954305,22 3,21.1045695 3,20 L3,11 C3,9.8954305 3.8954305,9 5,9 Z M18.1444251,10.8396467 L12,14.1481833 L5.85557487,10.8396467 C5.4908718,10.6432681 5.03602525,10.7797221 4.83964668,11.1444251 C4.6432681,11.5091282 4.77972206,11.9639747 5.14442513,12.1603533 L11.6444251,15.6603533 C11.8664074,15.7798822 12.1335926,15.7798822 12.3555749,15.6603533 L18.8555749,12.1603533 C19.2202779,11.9639747 19.3567319,11.5091282 19.1603533,11.1444251 C18.9639747,10.7797221 18.5091282,10.6432681 18.1444251,10.8396467 Z" fill="#000000"/>
                                        <path d="M11.1288761,0.733697713 L11.1288761,2.69017121 L9.12120481,2.69017121 C8.84506244,2.69017121 8.62120481,2.91402884 8.62120481,3.19017121 L8.62120481,4.21346991 C8.62120481,4.48961229 8.84506244,4.71346991 9.12120481,4.71346991 L11.1288761,4.71346991 L11.1288761,6.66994341 C11.1288761,6.94608579 11.3527337,7.16994341 11.6288761,7.16994341 C11.7471877,7.16994341 11.8616664,7.12798964 11.951961,7.05154023 L15.4576222,4.08341738 C15.6683723,3.90498251 15.6945689,3.58948575 15.5161341,3.37873564 C15.4982803,3.35764848 15.4787093,3.33807751 15.4576222,3.32022374 L11.951961,0.352100892 C11.7412109,0.173666017 11.4257142,0.199862688 11.2472793,0.410612793 C11.1708299,0.500907473 11.1288761,0.615386087 11.1288761,0.733697713 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(11.959697, 3.661508) rotate(-90.000000) translate(-11.959697, -3.661508) "/>
                                    </g>
                                </svg><!--end::Svg Icon--></span>
								</a>
							</li>
							<!--end::Item-->
							<!--begin::Item-->
							<li class="nav-item mb-2" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="Cars">
								<a href="/cars" class="nav-link btn btn-icon btn-lg btn-borderless"  data-target="#kt_aside_tab_4" role="tab">
								<i class="fas fa-car-side"></i>
								</a>
							</li>
							<!--end::Item-->
							<!--begin::Item-->
							<li class="nav-item mb-2" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="User">
								<a href="/users" class="nav-link btn btn-icon btn-lg btn-borderless">
									<span class="svg-icon svg-icon-xxl">
										<!--begin::Svg Icon | path:assets/media/svg/icons/Home/Library.svg-->
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<rect x="0" y="0" width="24" height="24" />
												<path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" fill="#000000" />
												<rect fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)" x="16.3255682" y="2.94551858" width="3" height="18" rx="1" />
											</g>
										</svg>
										<!--end::Svg Icon-->
									</span>
								</a>
							</li>
							<!--end::Item-->
							<!--begin::Item-->
							<li class="nav-item mb-2" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="Spare Parts">
								<a href="/products" class="nav-link btn btn-icon btn-lg btn-borderless"  data-target="#kt_aside_tab_6" role="tab">
								<i class="fa fa-cog"></i>
								</a>
							</li>
							<!--end::Item-->
						</ul>
						<!--end::Nav-->
					</div>
					<!--end::Nav Wrapper-->
					<!--begin::Footer-->
					<!--<div class="aside-footer d-flex flex-column align-items-center flex-column-auto py-8">-->
						<!--begin::Notifications-->
					<!--	<a href="#" class="btn btn-icon btn-lg btn-borderless mb-1 position-relative" id="kt_quick_notifications_toggle" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="Notifications">-->
					<!--		<span class="svg-icon svg-icon-xxl">-->
								<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Layers.svg-->
					<!--			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
					<!--				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
					<!--					<polygon points="0 0 24 0 24 24 0 24" />-->
					<!--					<path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" fill="#000000" fill-rule="nonzero" />-->
					<!--					<path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" fill="#000000" opacity="0.3" />-->
					<!--				</g>-->
					<!--			</svg>-->
								<!--end::Svg Icon-->
					<!--		</span>-->
					<!--		<span class="label label-sm label-light-danger label-rounded font-weight-bolder position-absolute top-0 right-0 mt-1 mr-1">3</span>-->
					<!--	</a>-->
						<!--end::Notifications-->
						<!--begin::Quick Actions-->
					<!--	<a href="#" class="btn btn-icon btn-lg btn-borderless mb-1" id="kt_quick_actions_toggle" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="Quick Actions">-->
					<!--		<span class="svg-icon svg-icon-xxl">-->
								<!--begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg-->
					<!--			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
					<!--				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
					<!--					<rect x="0" y="0" width="24" height="24" />-->
					<!--					<rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />-->
					<!--					<rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />-->
					<!--					<rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />-->
					<!--					<rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />-->
					<!--				</g>-->
					<!--			</svg>-->
								<!--end::Svg Icon-->
					<!--		</span>-->
					<!--	</a>-->
						<!--end::Quick Actions-->
						<!--begin::Quick Panel-->
					<!--	<a href="#" class="btn btn-icon btn-lg btn-borderless mb-1" id="kt_quick_panel_toggle" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="Quick Panel">-->
					<!--		<span class="svg-icon svg-icon-xxl">-->
								<!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
					<!--			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
					<!--				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
					<!--					<rect x="0" y="0" width="24" height="24" />-->
					<!--					<rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5" />-->
					<!--					<path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3" />-->
					<!--				</g>-->
					<!--			</svg>-->
								<!--end::Svg Icon-->
					<!--		</span>-->
					<!--	</a>-->
						<!--end::Quick Panel-->
						<!--begin::Languages-->
					<!--	<div class="dropdown" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="Languages">-->
					<!--		<a href="#" class="btn btn-icon btn-lg btn-borderless" data-toggle="dropdown" data-offset="0px,0px">-->
					<!--			<img class="w-20px h-20px rounded" src="assets/media/svg/flags/226-united-states.svg" alt="image" />-->
					<!--		</a>-->
							<!--begin::Dropdown-->
					<!--		<div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-left">-->
								<!--begin::Nav-->
					<!--			<ul class="navi navi-hover py-4">-->
									<!--begin::Item-->
					<!--				<li class="navi-item">-->
					<!--					<a href="#" class="navi-link">-->
					<!--						<span class="symbol symbol-20 mr-3">-->
					<!--							<img src="assets/media/svg/flags/226-united-states.svg" alt="" />-->
					<!--						</span>-->
					<!--						<span class="navi-text">English</span>-->
					<!--					</a>-->
					<!--				</li>-->
									<!--end::Item-->
									<!--begin::Item-->
					<!--				<li class="navi-item active">-->
					<!--					<a href="#" class="navi-link">-->
					<!--						<span class="symbol symbol-20 mr-3">-->
					<!--							<img src="assets/media/svg/flags/128-spain.svg" alt="" />-->
					<!--						</span>-->
					<!--						<span class="navi-text">Spanish</span>-->
					<!--					</a>-->
					<!--				</li>-->
									<!--end::Item-->
									<!--begin::Item-->
					<!--				<li class="navi-item">-->
					<!--					<a href="#" class="navi-link">-->
					<!--						<span class="symbol symbol-20 mr-3">-->
					<!--							<img src="assets/media/svg/flags/162-germany.svg" alt="" />-->
					<!--						</span>-->
					<!--						<span class="navi-text">German</span>-->
					<!--					</a>-->
					<!--				</li>-->
									<!--end::Item-->
									<!--begin::Item-->
					<!--				<li class="navi-item">-->
					<!--					<a href="#" class="navi-link">-->
					<!--						<span class="symbol symbol-20 mr-3">-->
					<!--							<img src="assets/media/svg/flags/063-japan.svg" alt="" />-->
					<!--						</span>-->
					<!--						<span class="navi-text">Japanese</span>-->
					<!--					</a>-->
					<!--				</li>-->
									<!--end::Item-->
									<!--begin::Item-->
					<!--				<li class="navi-item">-->
					<!--					<a href="#" class="navi-link">-->
					<!--						<span class="symbol symbol-20 mr-3">-->
					<!--							<img src="assets/media/svg/flags/195-france.svg" alt="" />-->
					<!--						</span>-->
					<!--						<span class="navi-text">French</span>-->
					<!--					</a>-->
					<!--				</li>-->
									<!--end::Item-->
					<!--			</ul>-->
								<!--end::Nav-->
					<!--		</div>-->
							<!--end::Dropdown-->
					<!--	</div>-->
						<!--end::Languages-->
					<!--</div>-->
					<!--end::Footer-->
				</div>
				<!--end::Aside-->
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Header-->
					<div id="kt_header" class="header header-fixed" style="right: 0!important;">
						<!--begin::Header Wrapper-->
						<div class="header-wrapper rounded-top-xl d-flex flex-grow-1 align-items-center">
							<!--begin::Container-->
							<div class="container-fluid d-flex align-items-center justify-content-end justify-content-lg-between flex-wrap">
								<!--begin::Menu Wrapper-->
								<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
									<!--begin::Menu-->
									<div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
										<!--begin::Nav-->
										<ul class="menu-nav">
										    <% if(user.role == "super" || user.role == "editor" || user.role == "reviewer"){ %>
											<li class="menu-item menu-item-submenu menu-item-rel">
												<a href="/dashboard" class="menu-link">
													<span class="menu-text"><i class="la la-tachometer icon-xl mr-2" style="color: #F64E60; font-weight: bold;"></i>Dashboard</span>
													<i class="menu-arrow"></i>
												</a>
												<!--<div class="menu-submenu menu-submenu-classic menu-submenu-left">-->
												<!--	<ul class="menu-subnav">-->
												<!--		<li class="menu-item" aria-haspopup="true">-->
												<!--			<a href="index.html" class="menu-link">-->
												<!--				<span class="menu-text">Application</span>-->
												<!--				<span class="menu-desc"></span>-->
												<!--			</a>-->
												<!--		</li>-->
												<!--		<li class="menu-item" aria-haspopup="true">-->
												<!--			<a target="_blank" href="https://preview.keenthemes.com/metronic/demo10/builder.html" class="menu-link">-->
												<!--				<span class="menu-text">Layout Builder</span>-->
												<!--				<span class="menu-desc"></span>-->
												<!--			</a>-->
												<!--		</li>-->
												<!--	</ul>-->
												<!--</div>-->
											</li>
											<% } %>
											<% if(user.role == "super" || user.role == "editor" || user.role == "reviewer"){ %>
											<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
											<a href="javascript:;" class="menu-link menu-toggle">
												<span class="menu-text"><i class="la la-users icon-xl mr-2" style="color: #F64E60; font-weight: bold;"></i>Users</span>
												<i class="menu-arrow"></i>
											</a>
											<div class="menu-submenu menu-submenu-classic menu-submenu-left">
													<ul class="menu-subnav">
														<li class="menu-item" aria-haspopup="true">
															<a href="/users" class="menu-link">
																<span class="menu-text">Users</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														<% if(user.role == "super"){ %>
														<li class="menu-item" aria-haspopup="true">
															<a href="/admins" class="menu-link">
																<span class="menu-text">Admins</span>
																<span class="menu-desc"></span>
															</a>
														</li><% } %>
													</ul>
												</div></li>
												<% } %>
											<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
											<a href="javascript:;" class="menu-link menu-toggle">
												<span class="menu-text"><i class="la la-dedent icon-xl mr-2" style="color: #F64E60; font-weight: bold;"></i>Spare Parts</span>
												<i class="menu-arrow"></i>
											</a>
											<div class="menu-submenu menu-submenu-classic menu-submenu-left">
													<ul class="menu-subnav">
														<li class="menu-item" aria-haspopup="true">
															<a href="/products" class="menu-link">
																<span class="menu-text">Spare Parts</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														<% if(user.role == "super" || user.role == "editor"){ %>
														<li class="menu-item" aria-haspopup="true">
															<a href="/create-product" class="menu-link">
																<span class="menu-text">Create Product</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														<% } %>
															<li class="menu-item" aria-haspopup="true">
															<a href="/makers" class="menu-link">
																<span class="menu-text">Product Manufacturers</span>
																<span class="menu-desc"></span>
															</a>
														</li>
															<% if(user.role == "super" || user.role == "reviewer"){ %>
														<li class="menu-item" aria-haspopup="true">
															<a href="/searches" class="menu-link">
																<span class="menu-text">Spare Part Search list</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														<% } %>
													</ul>
												</div></li>
											<% if(user.role == "super" ||  user.role == "reviewer"){ %>
											<li class="menu-item menu-item-submenu menu-item-rel">
												<a href="/orders" class="menu-link">
													<span class="menu-text"><i class="la la-ticket icon-xl mr-2" style="color: #F64E60; font-weight: bold;"></i>Orders</span>
											</a></li>
										   <% } %>
										   	<% if(user.role == "super" || user.role == "editor" || user.role == "reviewer"){ %>
											<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
											<a href="javascript:;" class="menu-link menu-toggle">
											 <span class="menu-text"><i class="la la-car icon-xl mr-2" style="color: #F64E60; font-weight: bold;"></i>Cars</span>
												<i class="menu-arrow"></i>
											</a>
											<% } %>
												    <% if(user.role == "super" || user.role == "editor" || user.role == "reviewer"){ %>
											<div class="menu-submenu menu-submenu-classic menu-submenu-left">
													<ul class="menu-subnav">
													    	<li class="menu-item" aria-haspopup="true">
															<a href="/makes" class="menu-link">
																<span class="menu-text">Car Brands</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														<li class="menu-item" aria-haspopup="true">
															<a href="/car-models" class="menu-link">
																<span class="menu-text">Car Models</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														<li class="menu-item" aria-haspopup="true">
															<a href="/cars" class="menu-link">
																<span class="menu-text">Cars</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														<li class="menu-item" aria-haspopup="true">
															<a href="/categories" class="menu-link">
																<span class="menu-text">Categories</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														
													</ul>
												</div></li>
												<% } %>
												    <% if(user.role == "super" || user.role == "editor"){ %>	
											<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
											<a href="javascript:;" class="menu-link menu-toggle">
											 <span class="menu-text"><i class="la la-check-circle icon-xl mr-2" style="color: #F64E60; font-weight: bold;"></i>Selections</span>
												<i class="menu-arrow"></i>
											</a>
										
											<div class="menu-submenu menu-submenu-classic menu-submenu-left">
													<ul class="menu-subnav">
													    	<li class="menu-item" aria-haspopup="true">
															<a href="/featured" class="menu-link">
																<span class="menu-text">Featured Products</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														<li class="menu-item" aria-haspopup="true">
															<a href="/tops" class="menu-link">
																<span class="menu-text">Top Products</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														
													</ul>
												</div></li>	<% } %>
													    <% if(user.role == "super" || user.role == "editor"){ %>
													<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
											<a href="javascript:;" class="menu-link menu-toggle">
											 <span class="menu-text"><i class="la la-check-circle icon-xl mr-2" style="color: #F64E60; font-weight: bold;"></i>Frontend</span>
												<i class="menu-arrow"></i>
											</a>
											<div class="menu-submenu menu-submenu-classic menu-submenu-left">
													<ul class="menu-subnav">
													    	<li class="menu-item" aria-haspopup="true">
															<a href="/about" class="menu-link">
																<span class="menu-text">About Us</span>
																<span class="menu-desc"></span>
															</a>
														</li>
													    	<li class="menu-item" aria-haspopup="true">
															<a href="/contact" class="menu-link">
																<span class="menu-text">Footer Contact Details</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														<li class="menu-item" aria-haspopup="true">
															<a href="/tc" class="menu-link">
																<span class="menu-text">Terms and Conditions</span>
																<span class="menu-desc"></span>
															</a>
														</li>
														<li class="menu-item" aria-haspopup="true">
															<a href="/privacy" class="menu-link">
																<span class="menu-text">Privacy Policy</span>
																<span class="menu-desc"></span>
															</a>
														</li>
															<li class="menu-item" aria-haspopup="true">
															<a href="/images" class="menu-link">
																<span class="menu-text">Images</span>
																<span class="menu-desc"></span>
															</a>
														</li>
															<li class="menu-item" aria-haspopup="true">
															<a href="/points" class="menu-link">
																<span class="menu-text">Referral Points Ratio</span>
																<span class="menu-desc"></span>
															</a>
														</li>
													</ul>
												</div></li>
										<% } %>
										</ul>
										<!--end::Nav-->
									</div>
									<!--end::Menu-->
								</div>
								<!--end::Menu Wrapper-->
								<!--begin::Toolbar-->
								<div class="d-flex align-items-center py-3 py-lg-2">
                                <div class="mr-3"><span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo10/dist/../src/media/svg/icons/Communication/Shield-user.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z" fill="#000000" opacity="0.3"/>
                                            <path d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z" fill="#000000" opacity="0.3"/>
                                            <path d="M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 C14.5228466,17 11.463736,17 7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z" fill="#000000" opacity="0.3"/>
                                        </g>
                                    </svg><!--end::Svg Icon--></span> <b><%= user && user.role == "super"? "ADMIN" : user && user.role == "editor"? "EDITOR" : "REVIEWER" %></b></div>
									<!--begin::Dropdown-->
									<div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left">
										<a href="#" class="btn btn-icon btn-light h-40px w-40px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="svg-icon svg-icon-primary svg-icon-xxl"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo10/dist/../src/media/svg/icons/Code/Lock-circle.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"/>
                                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                        <path d="M14.5,11 C15.0522847,11 15.5,11.4477153 15.5,12 L15.5,15 C15.5,15.5522847 15.0522847,16 14.5,16 L9.5,16 C8.94771525,16 8.5,15.5522847 8.5,15 L8.5,12 C8.5,11.4477153 8.94771525,11 9.5,11 L9.5,10.5 C9.5,9.11928813 10.6192881,8 12,8 C13.3807119,8 14.5,9.11928813 14.5,10.5 L14.5,11 Z M12,9 C11.1715729,9 10.5,9.67157288 10.5,10.5 L10.5,11 L13.5,11 L13.5,10.5 C13.5,9.67157288 12.8284271,9 12,9 Z" fill="#000000"/>
                                    </g>
                                </svg><!--end::Svg Icon--></span>
										</a>
										<div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-md dropdown-menu-right">
											<!--begin::Naviigation-->
											<ul class="navi">
											
												<li class="navi-footer pt-5 pb-4">
													<a class="btn btn-light-primary font-weight-bolder btn-sm" href="/logout">Logout</a>
												</li>
											</ul>
											<!--end::Naviigation-->
										</div>
									</div>
									<!--end::Dropdown-->
								</div>
								<!--end::Toolbar-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Header Wrapper-->
					</div>
					<!--end::Header-->