<%- include("header") %>

<style>
    .image-input .image-input-wrapper {
    width: 500px;
    height: 300px;
}
</style>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1">
									<!--begin::Page Heading-->
									<div class="d-flex align-items-baseline flex-wrap mr-5">
										<!--begin::Page Title-->
										<h5 class="text-dark font-weight-bold my-1 mr-5">Manage Images</h5>
										<!--end::Page Title-->
										<!--begin::Breadcrumb-->
										<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">

											<li class="breadcrumb-item text-muted">
												<a href="" class="text-muted">File Upload</a>
											</li>
											<li class="breadcrumb-item text-muted">
												<a href="" class="text-muted">Images</a>
											</li>
										</ul>
										<!--end::Breadcrumb-->
									</div>
									<!--end::Page Heading-->
								</div>
								<!--end::Info-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Notice-->
								<div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">
									<div class="alert-icon">
										<span class="svg-icon svg-icon-primary svg-icon-xl">
											<!--begin::Svg Icon | path:/metronic/theme/html/demo10/dist/assets/media/svg/icons/Tools/Compass.svg-->
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<rect x="0" y="0" width="24" height="24"></rect>
													<path d="M7.07744993,12.3040451 C7.72444571,13.0716094 8.54044565,13.6920474 9.46808594,14.1079953 L5,23 L4.5,18 L7.07744993,12.3040451 Z M14.5865511,14.2597864 C15.5319561,13.9019016 16.375416,13.3366121 17.0614026,12.6194459 L19.5,18 L19,23 L14.5865511,14.2597864 Z M12,3.55271368e-14 C12.8284271,3.53749572e-14 13.5,0.671572875 13.5,1.5 L13.5,4 L10.5,4 L10.5,1.5 C10.5,0.671572875 11.1715729,3.56793164e-14 12,3.55271368e-14 Z" fill="#000000" opacity="0.3"></path>
													<path d="M12,10 C13.1045695,10 14,9.1045695 14,8 C14,6.8954305 13.1045695,6 12,6 C10.8954305,6 10,6.8954305 10,8 C10,9.1045695 10.8954305,10 12,10 Z M12,13 C9.23857625,13 7,10.7614237 7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 C17,10.7614237 14.7614237,13 12,13 Z" fill="#000000" fill-rule="nonzero"></path>
												</g>
											</svg>
											<!--end::Svg Icon-->
										</span>
									</div>
									<div class="alert-text">
									<b class="mr-2">Edit Images</b> on web page, both logo and sliders.</div>
								</div>
								<!--end::Notice-->
								<!--begin::Card-->
								<div class="card card-custom gutter-b example example-compact">
									<div class="card-header">
										<div class="card-title">
											<h3 class="card-label">Page Logo</h3>
										</div>
									
									</div>
									<!--begin::Form-->
									<form>
										<div class="card-body">
											<div class="form-group row">
												<label class="col-xl-3 col-lg-3 col-form-label text-right">Logo</label>
												<div class="col-lg-9 col-xl-6">
													<div class="image-input image-input-outline kt-img" id="kt_image_1">
														<div class="image-input-wrapper" style="background: url(<% if(settings.length > 0 && settings[0].logo){ %>'<%= `https://gapaautoparts.com${settings[0].logo}`%>'<% }else { %>/assets/media/users/blank.png<% } %>);background-size: cover;background-position: center;"></div>
														<label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change Page Logo">
															<i class="fa fa-pen icon-sm text-muted"></i>
															<input type="file" name="profile_avatar" id="logo" accept=".png, .jpg, .jpeg">
															<input type="hidden" name="profile_avatar_remove">
														</label>
														<span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
															<i class="ki ki-bold-close icon-xs text-muted"></i>
														</span>
													</div>
													<span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
												</div>
											</div>
											<!--begin::Code-->

											<!--end::Code-->
										</div>
									</form>
								</div>
								<div class="card card-custom gutter-b example example-compact">
									<div class="card-header">
										<div class="card-title">
											<h3 class="card-label">Slider 1</h3>
										</div>
									
									</div>
									<!--begin::Form-->
									<form>
										<div class="card-body">
											<div class="form-group row">
												<label class="col-xl-3 col-lg-3 col-form-label text-right">Slider</label>
												<div class="col-lg-9 col-xl-6">
													<div class="image-input image-input-outline kt-img" id="kt_image_2">
														<div class="image-input-wrapper" style="background: url(<% if(settings.length > 0 && settings[0].slider_1){ %>'<%= `https://gapaautoparts.com${settings[0].slider_1}`%>'<% }else { %>/assets/media/users/blank.png<% } %>);background-size: cover;background-position: center;"></div>
														<label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change Slider Image">
															<i class="fa fa-pen icon-sm text-muted"></i>
															<input type="file" name="profile_avatar" id="slider_1" accept=".png, .jpg, .jpeg">
															<input type="hidden" name="profile_avatar_remove">
														</label>
														<span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
															<i class="ki ki-bold-close icon-xs text-muted"></i>
														</span>
													</div>
													<span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
												</div>
											</div>
											<!--begin::Code-->

											<!--end::Code-->
										</div>
									</form>
								</div>
									<div class="card card-custom gutter-b example example-compact">
									<div class="card-header">
										<div class="card-title">
											<h3 class="card-label">Slider 2</h3>
										</div>
									
									</div>
									<!--begin::Form-->
									<form>
										<div class="card-body">
											<div class="form-group row">
												<label class="col-xl-3 col-lg-3 col-form-label text-right">Slider</label>
												<div class="col-lg-9 col-xl-6">
													<div class="image-input image-input-outline kt-img" id="kt_image_3">
														<div class="image-input-wrapper" style="background: url(<% if(settings.length > 0 && settings[0].slider_2){ %>'<%= `https://gapaautoparts.com${settings[0].slider_2}`%>'<% }else { %>/assets/media/users/blank.png<% } %>);background-size: cover;background-position: center;"></div>
														<label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change Slider Image">
															<i class="fa fa-pen icon-sm text-muted"></i>
															<input type="file" name="profile_avatar" id="slider_2" accept=".png, .jpg, .jpeg">
															<input type="hidden" name="profile_avatar_remove">
														</label>
														<span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
															<i class="ki ki-bold-close icon-xs text-muted"></i>
														</span>
													</div>
													<span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
												</div>
											</div>
											<!--begin::Code-->

											<!--end::Code-->
										</div>
									</form>
								</div>
									<div class="card card-custom gutter-b example example-compact">
									<div class="card-header">
										<div class="card-title">
											<h3 class="card-label">Slider 3</h3>
										</div>
									
									</div>
									<!--begin::Form-->
									<form>
										<div class="card-body">
											<div class="form-group row">
												<label class="col-xl-3 col-lg-3 col-form-label text-right">Slider</label>
												<div class="col-lg-9 col-xl-6">
													<div class="image-input image-input-outline kt-img" id="kt_image_4">
														<div class="image-input-wrapper" style="background: url(<% if(settings.length > 0 && settings[0].slider_3){ %>'<%= `https://gapaautoparts.com${settings[0].slider_3}`%>'<% }else { %>/assets/media/users/blank.png<% } %>);background-size: cover;background-position: center;"></div>
														<label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change Slider Image">
															<i class="fa fa-pen icon-sm text-muted"></i>
															<input type="file" name="profile_avatar" id="slider_3" accept=".png, .jpg, .jpeg">
															<input type="hidden" name="profile_avatar_remove">
														</label>
														<span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="" data-original-title="Cancel avatar">
															<i class="ki ki-bold-close icon-xs text-muted"></i>
														</span>
													</div>
													<span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
												</div>
											</div>
											<!--begin::Code-->

											<!--end::Code-->
										</div>
									</form>
								</div>
								
								<!--end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
<%- include("footer") %>
	<script src="/assets/js/pages/crud/file-upload/image-input.js?v=7.2.8"></script>
		<!--end::Page Scripts-->
<script>
var avatar1 = new KTImageInput('kt_image_1');
var avatar2 = new KTImageInput('kt_image_2');
var avatar3 = new KTImageInput('kt_image_3');
var avatar4 = new KTImageInput('kt_image_4');
       $(document).ready(function() {

    
    var logo = function(input) {
         let fd = new FormData();
      var pic = $('#logo')[0].files[0];

      fd.append('img', pic);
      axios.post('/logo',
          fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
location.reload()
            }
            	else if(res.data.error){
  alert(res.data.error)  
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
alert(error.response.data.error)  }
            }
            else if(error){
            console.log(error)
            alert("there was an error")
            }
        }
        )
        
    }
    
        var one = function(input) {
         let fd = new FormData();
      var pic = $('#slider_1')[0].files[0];

      fd.append('img', pic);
      axios.post('/slider-1',
          fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
location.reload()
            }
            	else if(res.data.error){
  alert(res.data.error)  
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
alert(error.response.data.error)  }
            }
            else if(error){
            console.log(error)
            alert("there was an error")
            }
        }
        )
        
    }
        var two = function(input) {
         let fd = new FormData();
      var pic = $('#slider_2')[0].files[0];

      fd.append('img', pic);
      axios.post('/slider-2',
          fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
location.reload()
            }
            	else if(res.data.error){
  alert(res.data.error)  
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
alert(error.response.data.error)  }
            }
            else if(error){
            console.log(error)
            alert("there was an error")
            }
        }
        )
        
    }
       var three = function(input) {
         let fd = new FormData();
      var pic = $('#slider_3')[0].files[0];

      fd.append('img', pic);
      axios.post('/slider-3',
          fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
location.reload()
            }
            	else if(res.data.error){
  alert(res.data.error)  
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
alert(error.response.data.error)  }
            }
            else if(error){
            console.log(error)
            alert("there was an error")
            }
        }
        )
        
    }
    $("#logo").on('change', function(){
        logo(this)
    });
    $("#slider_1").on('change', function(){
        one(this)
    });
    $("#slider_2").on('change', function(){
        two(this)
    });  
    $("#slider_3").on('change', function(){
        three(this)
    });    

});
</script>