<!DOCTYPE html>

<html lang="en">
	<!--begin::Head-->
	<head><base href="/">
		<meta charset="utf-8" />
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Custom Styles(used by this page)-->
		<link href="assets/css/pages/login/login-5.css" rel="stylesheet" type="text/css" />
				<link href="/assets/css/pages/login/classic/login-1.css?v=7.2.9" rel="stylesheet" type="text/css" />
		<!--end::Page Custom Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled sidebar-enabled page-loading">
	    <div class="d-flex flex-column flex-root">
			<!--begin::Login-->
			<div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
				<!--begin::Aside-->
				<div class="login-aside d-flex flex-row-auto bgi-size-cover bgi-no-repeat p-10 p-lg-10" style="background-image: url('/Abstract Paper.svg');">
					<!--begin: Aside Container-->
					<div class="d-flex flex-row-fluid flex-column justify-content-between">
						<!--begin: Aside header-->
						<a href="#" class="flex-column-auto mt-5 pb-lg-0 pb-10">
							<img src="https://gapaautoparts.com/img/Gapa_new_1(former).png" class="max-h-70px" alt="" />
						</a>
						<!--end: Aside header-->
						<!--begin: Aside content-->
						<div class="flex-column-fluid d-flex flex-column justify-content-center">
							<h3 class="font-size-h1 mb-5 text-white">Welcome to Gapaautoparts Admin!</h3>
							<p class="font-weight-lighter text-white opacity-80">Provide your Login Details to get authenticated</p>
						</div>
						<!--end: Aside content-->
						<!--begin: Aside footer for desktop-->
						<div class="d-none flex-column-auto d-lg-flex justify-content-between mt-10">
							<div class="opacity-70 font-weight-bold text-white">© 2021 Gapaautoparts</div>
							<div class="d-flex">
								<a href="https://gapaautoparts.com/privacy-policy" class="text-white">Privacy</a>
							</div>
						</div>
						<!--end: Aside footer for desktop-->
					</div>
					<!--end: Aside Container-->
				</div>
				<!--begin::Aside-->
				<!--begin::Content-->
				<div class="d-flex flex-column flex-row-fluid position-relative p-7 overflow-hidden">
					<!--begin::Content header-->
					<div class="position-absolute top-0 right-0 text-right mt-5 mb-15 mb-lg-0 flex-column-auto justify-content-center py-5 px-10">
						<a href="javascript:;" class="font-weight-bold ml-2">Login</a>
					</div>
					<!--end::Content header-->
					<!--begin::Content body-->
					<div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">
						<!--begin::Signin-->
						<div class="login-form login-signin">
							<div class="text-center mb-10 mb-lg-20">
								<h3 class="font-size-h1">Sign In</h3>
								<p class="text-muted font-weight-bold">Enter your username and password</p>
							</div>
							<!--begin::Form-->
							<form class="form" novalidate="novalidate" onsubmit="sub(event)">
								<div class="form-group">
									<input class="form-control form-control-solid h-auto py-5 px-6" type="text" placeholder="Username" name="username" autocomplete="off" id="email" required />
								</div>
								<div class="form-group">
									<input class="form-control form-control-solid h-auto py-5 px-6" type="password" placeholder="Password" name="password" autocomplete="off" id="password" required />
								</div>
								<div class="form-group" id="err"></div>
								<!--begin::Action-->
								<div class="form-group d-flex flex-wrap justify-content-between align-items-center">
									<button type="submit" id="btn" class="btn btn-primary font-weight-bold px-9 py-4 my-3">Sign In</button>
								</div>
								<!--end::Action-->
							</form>
							<!--end::Form-->
						</div>
						<!--end::Signin-->
	
					</div>
					<!--end::Content body-->
					<!--begin::Content footer for mobile-->
					<div class="d-flex d-lg-none flex-column-auto flex-column flex-sm-row justify-content-between align-items-center mt-5 p-5">
						<div class="text-dark-50 font-weight-bold order-2 order-sm-1 my-2">© 2021 GAPAAUTOPARTS</div>
						<div class="d-flex order-1 order-sm-2 my-2">
							<a href="https://gapaautoparts.com/privacy-policy" target="_blank" class="text-dark-75 text-hover-primary">Privacy</a>
						</div>
					</div>
					<!--end::Content footer for mobile-->
				</div>
				<!--end::Content-->
			</div>
			<!--end::Login-->
		</div>
		
	 <!--   	<div class="d-flex flex-column flex-root">-->
			<!--begin::Login-->
		<!--	<div class="login login-5 login-signin-on d-flex flex-row-fluid" id="kt_login">-->
		<!--		<div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url('/Abstract Paper.svg');">-->
		<!--			<div class="login-form text-center text-white p-7 position-relative overflow-hidden">-->
						<!--begin::Login Header-->
		<!--				<div class="d-flex flex-center mb-15">-->
		<!--					<a href="#">-->
		<!--						<img src="/GAPA Naija Logo_rim-strip-text-bg white (1).png" class="max-h-75px" alt="" />-->
		<!--					</a>-->
		<!--				</div>-->
						<!--end::Login Header-->
						<!--begin::Login Sign in form-->
		<!--				<div class="login-signin">-->
		<!--					<div class="mb-20">-->
		<!--						<h3 class="opacity-40 font-weight-normal">Sign In To Admin</h3>-->
		<!--						<p class="opacity-40">Enter your details to login to your account:</p>-->
		<!--					</div>-->
		<!--					<form class="form" onsubmit="sub(event)">-->
		<!--						<div class="form-group">-->
		<!--							<input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="text" placeholder="Email" id="email" name="username" autocomplete="off" />-->
		<!--						</div>-->
		<!--						<div class="form-group">-->
		<!--							<input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="password" id="password" placeholder="Password" name="password" />-->
		<!--						</div>-->
		<!--						<div class="form-group" id="err">-->
								    
		<!--						</div>-->
								<!--<div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8 opacity-60">-->
								<!--	<div class="checkbox-inline">-->
								<!--		<label class="checkbox checkbox-outline checkbox-white text-white m-0">-->
								<!--		<input type="checkbox" name="remember" />-->
								<!--		<span></span>Remember me</label>-->
								<!--	</div>-->
								<!--	<a href="javascript:;" id="kt_login_forgot" class="text-white font-weight-bold">Forget Password ?</a>-->
								<!--</div>-->
		<!--						<div class="form-group text-center mt-10">-->
		<!--							<button id="btn" class="btn btn-pill btn-primary opacity-90 px-15 py-3">Sign In</button>-->
		<!--						</div>-->
		<!--					</form>-->
						
		<!--				</div>-->
						<!--end::Login Sign in form-->
						<!--begin::Login Sign up form-->
						<!--begin::Login forgot password form-->
						<!--<div class="login-forgot">-->
						<!--	<div class="mb-20">-->
						<!--		<h3 class="opacity-40 font-weight-normal">Forgotten Password ?</h3>-->
						<!--		<p class="opacity-40">Enter your email to reset your password</p>-->
						<!--	</div>-->
						<!--	<form class="form" id="kt_login_forgot_form">-->
						<!--		<div class="form-group mb-10">-->
						<!--			<input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="text" placeholder="Email" name="email" autocomplete="off" />-->
						<!--		</div>-->
						<!--		<div class="form-group">-->
						<!--			<button id="kt_login_forgot_submit" class="btn btn-pill btn-primary opacity-90 px-15 py-3 m-2">Request</button>-->
						<!--			<button id="kt_login_forgot_cancel" class="btn btn-pill btn-outline-white opacity-70 px-15 py-3 m-2">Cancel</button>-->
						<!--		</div>-->
						<!--	</form>-->
						<!--</div>-->
						<!--end::Login forgot password form-->
		<!--			</div>-->
		<!--		</div>-->
		<!--	</div>-->
			<!--end::Login-->
		<!--</div>-->
    	<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#663259", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#F4E1F0", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
	
        		<script src="assets/plugins/global/plugins.bundle.js"></script>
		<script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="assets/js/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>		
	    <script>
		const sub = (event) => {
        event.preventDefault();
        var btn = document.getElementById("btn")
        var err = document.getElementById("err")
        var email = document.getElementById("email").value
        var password = document.getElementById("password").value
        btn.disabled = true
        btn.innerHTML = "Loading..."
        err.innerHTML = ""
        axios.post("/login<% if(ref){ %>?ref=<%= ref %><% } %>", {
            email,
            password
        }).then(data => {
            if(data.data.message){
                err.innerHTML = `<div class="alert alert-success alert-dismissable">${data.data.message}</div>`
                btn.disabled = false
                btn.innerHTML = "Sign In"
                location.href = data.data.path
            }else if(data.data.error) {
                 err.innerHTML = `<div class="alert alert-danger alert-dismissable">${data.data.error}</div>`
                btn.disabled = false
                btn.innerHTML = "Sign In"
            }
        }).catch(er => {
            if(er){
                if(er.response){
                    err.innerHTML = `<div class="alert alert-danger alert-dismissable">${er.response.data.error}</div>`
                btn.disabled = false
                btn.innerHTML = "Sign In" 
                }else{
                     err.innerHTML = `<div class="alert alert-danger alert-dismissable">There was an error processing your request please try again</div>`
                btn.disabled = false
                btn.innerHTML = "Sign In"
                }
            }
        })
    }
		</script>
			<script src="assets/js/pages/custom/login/login-general.js"></script>
		</body>
	<!--end::Body-->
</html>