<%- include("header") %>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Details-->
								<div class="d-flex align-items-center flex-wrap mr-2">
									<!--begin::Title-->
									<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Orders</h5>
									<!--end::Title-->
									<!--begin::Separator-->
									<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
									<!--end::Separator-->
									<!--begin::Search Form-->
									<div class="d-flex align-items-center" id="kt_subheader_search">
										<span class="text-dark-50 font-weight-bold" id="kt_subheader_total"><%= orders.length %> Total</span>
										<form class="ml-5" onsubmit="go(event)">
										<div class="input-group">
															<input type="text" class="form-control" id="id" placeholder="ENTER ORDER ID TO GO.." required>
															<div class="input-group-append">
																<button class="btn btn-primary" type="submit">GO</button>
															</div>
														</div>
										</form>
									</div>
									<!--end::Search Form-->
									<!--begin::Group Actions-->
									<!--end::Group Actions-->
								</div>
								<!--end::Details-->
								<!--begin::Toolbar-->
								<!--end::Toolbar-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Card-->
								<div class="card card-custom">
									<!--begin::Header-->
									<div class="card-header flex-wrap border-0 pt-6 pb-0">
										<div class="card-title">
											<h3 class="card-label">Order Management
											<span class="d-block text-muted pt-2 font-size-sm">Orders</span></h3>
										</div>
										<div class="card-toolbar">

										</div>
									</div>
									<!--end::Header-->
									<!--begin::Body-->
									<div class="card-body pt-2 pb-0 mt-n3">
										<div class="tab-content mt-5">
											<!--begin::Tap pane-->
											<div>
												<!--begin::Table-->
												
								    				<% if(orders.length > 0){ %>
					                        <div class="table-responsive">
													<table class="table table-borderless table-vertical-center">
														<thead>
															<tr>
																<th class="p-0 w-40px"></th>
																<th class="p-0 min-w-200px"></th>
																<th class="p-0 min-w-100px"></th>
																<th class="p-0 min-w-125px"></th>
																<th class="p-0 min-w-110px"></th>
																<th class="p-0 min-w-150px"></th>
															</tr>
														</thead>
														<tbody>
			                    	<% orders.forEach(order => { %>
															<tr>
																<td class="pl-0 py-4">
																	<div class="symbol symbol-50 symbol-light">
																		<span class="symbol-label">
																			<img src="https://gapaautoparts.com<%= order.user.img_url %>" class="h-50 align-self-center" alt="">
																		</span>
																	</div>
																</td>
																<td class="pl-0">
																	<a class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg"><%= order.user.email  %> </a>
																	<div>
																		<span class="font-weight-bolder">ID:</span>
																		<a class="text-muted font-weight-bold text-hover-primary">#<%= order.id %></a>
																	</div>
																</td>
																<td class="text-right">
																	<span class="text-dark-75 font-weight-bolder d-block font-size-lg"><%- cur %><%= parseInt(order.total_paid).toFixed(2) %></span>
																	<span class="text-muted font-weight-bold">Paid</span>
																</td>
																<td class="text-right">
																	<span class="text-muted font-weight-500"><%= order.type %></span>
																</td>
																<td class="text-right">
																	<% if(order.status == "pending"){ %><span class="label label-lg label-light-danger label-inline">Pending</span><% }else if(order.status == "shipping"){ %> <span class="label label-lg label-light-warning label-inline">Ongoing</span> <% }else if(order.status == "verified"){ %> <span class="label label-lg label-light-success label-inline">Complete</span><% } %>
																</td>
																<td class="text-right pr-0">
																	<a href="/orders/<%= order.id %>" class="btn btn-icon btn-light btn-hover-primary btn-sm">
																		<span class="svg-icon svg-icon-md svg-icon-success">
																					<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
																					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																							<polygon points="0 0 24 0 24 24 0 24"></polygon>
																							<rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)" x="11" y="5" width="2" height="14" rx="1"></rect>
																							<path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)"></path>
																						</g>
																					</svg>
																					<!--end::Svg Icon-->
																				</span>
																	</a>
																</td>
															</tr>	
									<% }) %>
                

                                        </tbody>
													</table>
												</div>
								</div>
								<!--end::Row-->
								<!--end::Row-->
								<!--begin::Pagination-->
								<div class="d-flex justify-content-between align-items-center flex-wrap">
									<div class="d-flex flex-wrap mr-3">
										
							     <% if(currentPage){ %>
                                    <% if(currentPage > 1){ %>
                                    	<a href="/orders?page=<%= parseInt(currentPage) - 1 %>" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1">
											<i class="ki ki-bold-arrow-back icon-xs"></i>
										</a>
                                    
                                    <% if(final != true){ %>
                                    	<a href="/orders?page=<%= parseInt(currentPage) + 1 %>" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1">
											<i class="ki ki-bold-arrow-next icon-xs"></i>
										</a>
                                    <% } %>
                                    
                                    <% }else{ %>
                                    
										<a href="/orders?page=<%= parseInt(currentPage) + 1 %>" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1">
											<i class="ki ki-bold-arrow-next icon-xs"></i>
										</a>
                                    
                                    <% } %>
                                    <% } %>

			  
									</div>
									<div class="d-flex align-items-center">
										<span class="text-muted">Displaying <%= orders.length %> of <%= length %> records</span>
									</div>
								</div>
								<!--end::Pagination-->
								 <% } else if(orders.length === 0 && currentPage != 1){ %>
                        <div class="col-xl-6 mt-5 pt-3 mx-auto">
                        <center class="mt-5 pt-4">
        				        <img src="/clean.svg" height="150px" class="mb-3 mt-3">
        				        <p class="small mt-2 mb-4">No Results available for page number</p>
        				        <a href="/orders" class="btn btn-sm btn-primary mb-3">Back To Orders</a>
        				    </center>
        				    </div>
                                <% } else if(orders.length === 0 && currentPage === 1){ %>
                                
                                <div class="col-xl-6 mt-5 pt-3 mx-auto">
                        <center class="mt-5 pt-5">
        				        <img src="/clean.svg" height="150px" class="mb-3 mt-3">
        				        <p class="small mt-2">No Orders available</p>
        				    </center>
        				    </div>
                        <% } %>
												
												<!--end::Table-->
											</div>
											<!--end::Tap pane-->
										
										</div>
									
									<!--end::Body-->
								</div>
								<!--end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
                        
<%- include("footer") %>
	<script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
	<script src="assets/js/pages/crud/datatables/basic/basic.js"></script>
	<script>
         const sub = (event) => {         
             event.preventDefault()
          var fileName = document.getElementById("img").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
          document.getElementById("btn").innerHTML = "Loading..." 
          document.getElementById("btn").disabled = true
          document.getElementById("err_img").innerHTML = "" 
          document.getElementById("err").innerHTML = "" 
       if( document.getElementById("img").files.length == 0 ){

 document.getElementById("err_img").innerHTML = "No file selected" 
                    document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
}  
        else if (extFile !== "jpg" && extFile !=="jpeg" && extFile !=="png"){
          document.getElementById("err_img").innerHTML = "Please Select an image file" 
                              document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
        }  
       else{
 let fd = new FormData();
      var pic = $('#img')[0].files[0];

      fd.append('img', pic);
        fd.append('title', document.getElementById("title").value)
      axios.post('/create-cat',
          fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
    document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-success fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.message}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("btn").innerHTML = "Submit" 
    document.getElementById("btn").disabled = false
	location.reload()
            }
            	else if(res.data.error){
          document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
        document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
  document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${error.response.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
             document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false   }
            }
            else if(error){
            console.log(error)
  document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">Could not process your request please try again!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
            }
        }
        )
      }
      }
      
      const go = (e) => {
          e.preventDefault();
          if(document.getElementById("id").value !== ""){
              location.href = '/orders/' + document.getElementById("id").value
          }
      }
  
</script>