<%- include("header") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Details-->
								<div class="d-flex align-items-center flex-wrap mr-2">
									<!--begin::Title-->
									<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">ORDER DETAILS</h5>
									<!--end::Title-->
									<!--begin::Separator-->
									<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
									<!--end::Separator-->
									<!--begin::Search Form-->
									<div class="d-flex align-items-center" id="kt_subheader_search">
									
										
									</div>
									<!--end::Search Form-->
									<!--begin::Group Actions-->
									<!--end::Group Actions-->
								</div>
								<!--end::Details-->
								<!--begin::Toolbar-->
								<!--end::Toolbar-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Card-->
								<div class="card card-custom">
									<!--begin::Header-->
									<div class="card-header flex-wrap border-0 pt-6 pb-0">
										<div class="card-title">
											<h3 class="card-label">Order Management
											<span class="d-block text-muted pt-2 font-size-sm">Orders</span></h3>
										</div>
										<div class="card-toolbar">

										</div>
									</div>
									<%             
    									const get_discount = (price, dis) => {
                                            var d1 = price * dis
                                            return Math.floor(d1/100)
                                            
                                        } %>
									<!--end::Header-->
									<!--begin::Body-->
									<div class="card-body p-0">
												<!-- begin: Invoice-->
												<!-- begin: Invoice header-->
												<div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
													<div class="col-md-10">
														<div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
															<h1 class="display-4 font-weight-boldest mb-10">ORDER DETAILS</h1>
															<div class="d-flex flex-column align-items-md-end px-0">
																<!--begin::Logo-->
																<a href="#" class="mb-5">
																	<img src="https://gapaautoparts.com/img/Gapa_new_1.png" width="200px" alt="Logo">
																</a>
																<!--end::Logo-->
																<span class="d-flex flex-column align-items-md-end opacity-70">
																	<span>Yoma Place (last floor) No. 5, O. P. Fingesi Street, Utako District</span>
																	<span> F.C.T - Abuja, Nigeria</span>
																</span>
															</div>
														</div>
														<div class="border-bottom w-100"></div>
														<div class="d-flex justify-content-between pt-6">
															<div class="d-flex flex-column flex-root">
																<span class="font-weight-bolder mb-2">ORDER DATE</span>
																<span class="opacity-70"><%= moment(order.createdAt).format("LL") %></span>
															</div>
															<div class="d-flex flex-column flex-root">
																<span class="font-weight-bolder mb-2">ORDER ID.</span>
																<span class="opacity-70"><%= order.id %></span>
															</div>
															<div class="d-flex flex-column flex-root">
															    <% if(order.type == "delivery"){ %>
																<span class="font-weight-bolder mb-2">DELIVERED TO.</span>
																<span class="opacity-70"><%= order.delivery_address %>
																<br><%= order.state %></span>
																<% }else { %>
																<span class="font-weight-bolder mb-2">PICKUP</span>
																<span><span class="label label-lg label-light-warning label-inline">Awaiting Pickup</span></span>
																<% } %>
															</div>
														</div>
													</div>
												</div>
												<!-- end: Invoice header-->
												<!-- begin: Invoice body-->
												<div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
													<div class="col-md-10">
														<div class="table-responsive">
															<table class="table">
																<thead>
																	<tr>
																		<th class="pl-0 font-weight-bold text-muted text-uppercase">Ordered Items</th>
																		<th class="text-right font-weight-bold text-muted text-uppercase">Qty</th>
																		<th class="text-right font-weight-bold text-muted text-uppercase">Unit Price</th>
																		<th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Amount</th>
																	</tr>
																</thead>
																<tbody>
																    <% var total = 0; %>
																    <% var sub = 0 %>
																    <% order.items.forEach(item => { %>
																    <% var price = item.part.discount > 0? parseInt(item.part.price) - get_discount(parseInt(item.part.price), parseInt(item.part.discount)) : item.part.price %>
																    <% sub += parseInt(price) * parseInt(item.quantity) %>
																	<tr class="font-weight-boldest">
																		<td class="border-0 pl-0 pt-7 d-flex align-items-center">
																		<!--begin::Symbol-->
																		<div class="symbol symbol-40 flex-shrink-0 mr-4 bg-light">
																			<div class="symbol-label" style="background-image: url('https://gapaautoparts.com<%= item.part.img_url %>')"></div>
																		</div>
																		<!--end::Symbol-->
																		<%= item.part.name %></td>
																		<td class="border-0 text-right pt-7 align-middle"><%= item.quantity %></td>
																		<td class="border-0 text-right pt-7 align-middle"><%- cur %><%= price %></td>
																		<% var gg = parseInt(item.quantity) * price %>
																		<td class="border-0 text-primary pr-0 pt-7 text-right align-middle"><%- cur %><%= gg.toFixed(2) %></td>
																	</tr>
																	<% }) %>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<!-- end: Invoice body-->
												<!-- begin: Invoice footer-->
												<div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0 mx-0">
													<div class="col-md-10">
														<div class="table-responsive">
															<table class="table">
																<thead>
																    
																	<tr>
																		<th class="font-weight-bold text-muted text-uppercase">PAYMENT TYPE</th>
																		<th class="font-weight-bold text-muted text-uppercase">PAYMENT STATUS</th>
																		<th class="font-weight-bold text-muted text-uppercase">PAYMENT DATE</th>
																		<th class="font-weight-bold text-muted text-uppercase text-right">TOTAL PAID</th>
																	</tr>
																</thead>
																<tbody>
																		<tr class="font-weight-bolder">
																		<td>Shipping</td>
																		<td>Success</td>
																		<td><%= moment(order.createdAt).format("LL") %></td>
																		<td class="text-primary font-size-h3 font-weight-boldest text-right"><%- cur %> <%= order.type == "delivery" ? parseInt(order.shipping_cost).toFixed(2) : 0.00 %></td>
																	</tr>
																	<tr class="font-weight-bolder">
																		<td>Items</td>
																		<td>Success</td>
																		<td><%= moment(order.createdAt).format("LL") %></td>
																		<td class="text-primary font-size-h3 font-weight-boldest text-right"><%- cur %> <%= parseInt(sub).toFixed(2) %> </td>
																	</tr>
																	<tr class="font-weight-bolder">
																		<td>TOTAL</td>
																		<td>Paid</td>
																		<td><%= moment(order.createdAt).format("LL") %></td>
																		<td class="text-primary font-size-h3 font-weight-boldest text-right"><%- cur %> <%= parseInt(order.total_paid).toFixed(2) %> </td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<!-- end: Invoice footer-->
												<!-- begin: Invoice action-->
												<% if(order.status == "verified"){ %>
												<div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
													<div class="col-md-10">
														<div class="d-flex justify-content-between">
															<!--<button type="button" class="btn btn-light-primary font-weight-bold" onclick="window.print();">Download Order Details</button>-->
															<button type="button" class="btn btn-primary font-weight-bold" onclick="window.print();">Print Order Details</button>
														</div>
													</div>
												</div>
												<% } else{ %>
												<% if(order.type == "delivery"){ %>
												<% if(order.delivery_id){ %>
												
												<div class="form-group row mt-4">
												<label class="col-form-label text-right col-lg-3 col-sm-12">Change Status</label>
												<div class="col-lg-4 col-md-9 col-sm-12">
													<select class="form-control" onchange="change()" id="status">
														<option value="">Select Status</option>
														<option value="pending"<% if(order.status == "pending"){ %> selected<% } %>>Pending</option>
														<option value="shipping"<% if(order.status == "shipping"){ %> selected<% } %>>
															Shipping
														</option>
														<option value="verified"<% if(order.status == "verified"){ %> selected<% } %>>
															Verified
														</option>
													</select>
													
														<a href="https://logistic.gapaautoparts.com/login/admin" class="btn btn-warning font-weight-bold mt-3">View Logistics</a>
												</div>
											</div>
												<% }else { %>
												<div class="form-group row mt-4">
												<label class="col-form-label text-right col-lg-3 col-sm-12">Assign Delivery</label>
												<div class="col-lg-4 col-md-9 col-sm-12">
												    <button onclick="delv()" class="btn btn-warning font-weight-bold mt-3">Create Logistic</a>
												</div>
											</div>
												<% } %>
												
												<% } else { %>
												<div class="form-group row mt-4">
												<label class="col-form-label text-right col-lg-3 col-sm-12">Change Status</label>
												<div class="col-lg-4 col-md-9 col-sm-12">
													<select class="form-control" onchange="change()" id="status">
														<option value="">Select Status</option>
														<option value="pending"<% if(order.status == "pending"){ %> selected<% } %>>Pending</option>
														<option value="shipping"<% if(order.status == "shipping"){ %> selected<% } %>>
															Shipping
														</option>
														<option value="verified"<% if(order.status == "verified"){ %> selected<% } %>>
															Verified
														</option>
													</select>
													
												</div>
											</div>
												<% } %>
												<% } %>
												<!-- end: Invoice action-->
												<!-- end: Invoice-->
											</div>
									
									<!--end::Body-->
								</div>
								<!--end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
                        
<%- include("footer") %>
	<script src="assets/js/pages/crud/datatables/basic/basic.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script>
         const sub = (event) => {         
             event.preventDefault()
          var fileName = document.getElementById("img").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
          document.getElementById("btn").innerHTML = "Loading..." 
          document.getElementById("btn").disabled = true
          document.getElementById("err_img").innerHTML = "" 
          document.getElementById("err").innerHTML = "" 
       if( document.getElementById("img").files.length == 0 ){

 document.getElementById("err_img").innerHTML = "No file selected" 
                    document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
}  
        else if (extFile !== "jpg" && extFile !=="jpeg" && extFile !=="png"){
          document.getElementById("err_img").innerHTML = "Please Select an image file" 
                              document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
        }  
       else{
 let fd = new FormData();
      var pic = $('#img')[0].files[0];

      fd.append('img', pic);
        fd.append('title', document.getElementById("title").value)
      axios.post('/create-cat',
          fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
    document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-success fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.message}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("btn").innerHTML = "Submit" 
    document.getElementById("btn").disabled = false
	location.reload()
            }
            	else if(res.data.error){
          document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
        document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
  document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${error.response.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
             document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false   }
            }
            else if(error){
            console.log(error)
  document.getElementById("err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">Could not process your request please try again!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
            }
        }
        )
      }
      }
  const change = () => {
      if(document.getElementById("status").value !== ""){
           axios.post("/update-status", {
         status: document.getElementById("status").value,
         id: "<%= order.id %>",
     }).then(res => {
         if(res.data.message){
             $.alert(res.data.message);
            location.reload()
         }
         if(res.data.error){
             $.alert(res.data.error);
         }
     }).catch(err => {
                if(err){
                    if(err.response){
                        $.alert(err.response.data.error);
                    }else {
                        $.alert("There was an error with your request");
                    }
                }
            })
      }else {
          return null
      }
  }
const delv = () => {
           axios.post("/add-logistic", {
         order_id: "<%= order.id %>",
     }).then(res => {
         if(res.data.message){
             $.alert(res.data.message);
            location.reload()
         }
         if(res.data.error){
             $.alert(res.data.error);
         }
     }).catch(err => {
                if(err){
                    if(err.response){
                        $.alert(err.response.data.error);
                    }else {
                        $.alert("There was an error with your request");
                    }
                }
            })

  }
</script>