<%- include("header") %>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Details-->
								<div class="d-flex align-items-center flex-wrap mr-2">
									<!--begin::Title-->
									<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Spare Parts</h5>
									<!--end::Title-->
									<!--begin::Separator-->
									<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
									<!--end::Separator-->
									<!--begin::Search Form-->
									<div class="d-flex align-items-center" id="kt_subheader_search">
										<span class="text-dark-50 font-weight-bold" id="kt_subheader_total"><%= length %> Total</span>
										<form class="ml-5">
											<div class="input-group input-group-sm input-group-solid" style="max-width: 500px">
												<input type="text" id="search" class="form-control" id="kt_subheader_search_form" placeholder="Search...">
												<div class="input-group-append">
													<span class="input-group-text">
														<span class="svg-icon">
															<!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
															<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="0" y="0" width="24" height="24"></rect>
																	<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
																	<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
																</g>
															</svg>
															<!--end::Svg Icon-->
														</span>
														<!--<i class="flaticon2-search-1 icon-sm"></i>-->
													</span>
												</div>
											</div>
											<div class="mt-3 shadow-sm" id="results" style="width: 80; background: #fff; padding: 5px 7px 5px 7px; display: none;position: absolute;"></div>
											
										</form>
										
									</div>
									<!--end::Search Form-->
									<!--begin::Group Actions-->
									<div class="d-flex- align-items-center flex-wrap mr-2 d-none" id="kt_subheader_group_actions">
										<div class="text-dark-50 font-weight-bold">
										<span id="kt_subheader_group_selected_rows">23</span>Selected:</div>
										<div class="d-flex ml-6">
											<div class="dropdown mr-2" id="kt_subheader_group_actions_status_change">
												<button type="button" class="btn btn-light-primary font-weight-bolder btn-sm dropdown-toggle" data-toggle="dropdown">Update Status</button>
												<div class="dropdown-menu p-0 m-0 dropdown-menu-sm">
													<ul class="navi navi-hover pt-3 pb-4">
														<li class="navi-header font-weight-bolder text-uppercase text-primary font-size-lg pb-0">Change status to:</li>
														<li class="navi-item">
															<a href="#" class="navi-link" data-toggle="status-change" data-status="1">
																<span class="navi-text">
																	<span class="label label-light-success label-inline font-weight-bold">Approved</span>
																</span>
															</a>
														</li>
														<li class="navi-item">
															<a href="#" class="navi-link" data-toggle="status-change" data-status="2">
																<span class="navi-text">
																	<span class="label label-light-danger label-inline font-weight-bold">Rejected</span>
																</span>
															</a>
														</li>
														<li class="navi-item">
															<a href="#" class="navi-link" data-toggle="status-change" data-status="3">
																<span class="navi-text">
																	<span class="label label-light-warning label-inline font-weight-bold">Pending</span>
																</span>
															</a>
														</li>
														<li class="navi-item">
															<a href="#" class="navi-link" data-toggle="status-change" data-status="4">
																<span class="navi-text">
																	<span class="label label-light-info label-inline font-weight-bold">On Hold</span>
																</span>
															</a>
														</li>
													</ul>
												</div>
											</div>
											<button class="btn btn-light-success font-weight-bolder btn-sm mr-2" id="kt_subheader_group_actions_fetch" data-toggle="modal" data-target="#kt_datatable_records_fetch_modal">Fetch Selected</button>
											<button class="btn btn-light-danger font-weight-bolder btn-sm mr-2" id="kt_subheader_group_actions_delete_all">Delete All</button>
										</div>
									</div>
									<!--end::Group Actions-->
								</div>
								<!--end::Details-->
								<!--begin::Toolbar-->
								<div class="d-flex align-items-center">
									<!--begin::Button-->
									<a href="#" class=""></a>
									<!--end::Button-->
									<!--begin::Button-->
									<a href="/create-product" class="btn btn-light-primary font-weight-bold ml-2">Add Part</a>
									<!--end::Button-->
						
								</div>
								<!--end::Toolbar-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Row-->
								<div class="row">
								    				<% if(parts.length > 0){ %>
				
			                    	<% parts.forEach(part => { %>
                			
									<!--begin::Column-->
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body text-center pt-4">
												
												<!--begin::User-->
												<div class="mt-7">
													<div class="symbol symbol-circle symbol-lg-90">
														<img src="https://gapaautoparts.com<%= part.img_url %>" alt="<%= part.title %>">
													</div>
												</div>
												<!--end::User-->
												<!--begin::Name-->
												<div class="my-4">
													<a href="#" class="text-dark font-weight-bold text-hover-primary font-size-h4"><%= part.title %></a>
												</div>
												<!--end::Name-->
												<!--begin::Label-->
												<% if(part.available) { %> <span class="btn btn-text btn-light-success btn-sm font-weight-bold">In Stock</span> <% } else { %><span class="btn btn-text btn-light-warning btn-sm font-weight-bold">Out of Stock</span><% } %>
												<!--end::Label-->
												<!--begin::Buttons-->
												<div class="mt-9">
													<a href="/products/<%= part.id %>" class="btn btn-light-primary font-weight-bolder btn-sm py-3 px-6 text-uppercase">view product</a>
												</div>
												<!--end::Buttons-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::Card-->
									</div>
									<!--end::Column-->
									<% }) %>
                


								</div>
								<!--end::Row-->
								<!--end::Row-->
								<!--begin::Pagination-->
								<div class="d-flex justify-content-between align-items-center flex-wrap">
									<div class="d-flex flex-wrap mr-3">
										
							     <% if(currentPage){ %>
                                    <% if(currentPage > 1){ %>
                                    	<a href="/products?page=<%= parseInt(currentPage) - 1 %>" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1">
											<i class="ki ki-bold-arrow-back icon-xs"></i>
										</a>
                                    
                                    <% if(final != true){ %>
                                    	<a href="/products?page=<%= parseInt(currentPage) + 1 %>" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1">
											<i class="ki ki-bold-arrow-next icon-xs"></i>
										</a>
                                    <% } %>
                                    
                                    <% }else{ %>
                                    
										<a href="/products?page=<%= parseInt(currentPage) + 1 %>" class="btn btn-icon btn-sm btn-light-primary mr-2 my-1">
											<i class="ki ki-bold-arrow-next icon-xs"></i>
										</a>
                                    
                                    <% } %>
                                    <% } %>

			  
									</div>
									<div class="d-flex align-items-center">
										<span class="text-muted">Displaying <%= parts.length %> of <%= length %> records</span>
									</div>
								</div>
								<!--end::Pagination-->
								 <% } else if(parts.length === 0 && currentPage != 1){ %>
                        <div class="col-xl-6 mt-5 pt-3 mx-auto">
                        <center class="mt-5 pt-4">
        				        <img src="/clean.svg" height="150px" class="mb-3 mt-3">
        				        <p class="small mt-2 mb-4">No Results available for page number</p>
        				        <a href="/products" class="btn btn-sm btn-primary mb-3">Back To Parts</a>
        				    </center>
        				    </div>
                                <% } else if(parts.length === 0 && currentPage === 1){ %>
                                
                                <div class="col-xl-6 mt-5 pt-3 mx-auto">
                        <center class="mt-5 pt-5">
        				        <img src="/clean.svg" height="150px" class="mb-3 mt-3">
        				        <p class="small mt-2">No Parts available</p>
        				    </center>
        				    </div>
                        <% } %>
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>

<%- include("footer") %>
<script>
     $('#search').on('input', function(){
   clearTimeout(this.delay);
   this.delay = setTimeout(function(){
      console.log(this.value);
      if(this.value){
      /* call ajax request here */
      axios.post("/search-parts", {
          text: this.value
      }).then(res => {
          if(res.data.data){
              console.log(res.data.data)
              if(res.data.data.length == 0){
                  return  document.getElementById("results").style.display = "none";
               document.getElementById("results").innerHTML = "";
            }
              document.getElementById("results").style.display = "block";
              var txt = ''
              res.data.data.forEach(part => {
                  txt += `<a href="/products/${part.id}" class="nav-link small">${part.name}</a>`
              })
              document.getElementById("results").innerHTML = txt
          }else {
              document.getElementById("results").style.display = "none";
               document.getElementById("results").innerHTML = "";
          }
      })
      }else {
          document.getElementById("results").style.display = "none";
               document.getElementById("results").innerHTML = "";
      }
   }.bind(this), 800);
});
</script>