<%- include("header") %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css" integrity="sha512-C8Movfk6DU/H5PzarG0+Dv9MA9IZzvmQpO/3cIlGIflmtY3vIud07myMu4M/NTPJl8jmZtt/4mC9bAioMZBBdA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
  

.owl-carousel img {
  margin: auto;
}
</style>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Page Layout-->
								<div class="d-flex flex-row">
									<!--begin::Layout-->
									<div class="flex-row-fluid">
										<!--begin::Section-->
										<div class="row">
											<div class="col-md-8 col-lg-8 mx-auto col-xxl-8">
												<!--begin::Engage Widget 14-->
												<div class="card card-custom card-stretch gutter-b">
													<div class="card-body p-15 pb-20">
														<div class="row mb-17">
															<div class="col-xxl-5 mb-11 mb-xxl-0">
																<!--begin::Image-->
																<div class="card card-custom card-stretch">
																	<div class="card-body p-0 rounded px-10 py-15 d-flex align-items-center justify-content-center">
																	    <div class="owl-carousel">
																		<div class="item" style="max-width: 100%;"><img src="https://gapaautoparts.com<%= part.img_url %>" class="mw-100 w-x" style="max-height: 300px; width: auto!important;"></div>
																		<div class="item" style="max-width: 100%;"><img src="https://gapaautoparts.com<%= part.img_url_1 %>" class="mw-100 w-x" style="max-height: 300px; width: auto!important;"></div>
																		<div class="item" style="max-width: 100%;"><img src="https://gapaautoparts.com<%= part.img_url_2 %>" class="mw-100 w-x" style="max-height: 300px; width: auto!important;"></div></div>
																		
																	</div>
																</div>
																<!--end::Image-->
															</div>
															<div class="col-xxl-7 pl-xxl-11">
																<h2 class="font-weight-bolder text-dark mb-7" style="font-size: 32px;"><%= part.name %></h2>
																<div class="font-size-h2 mb-7 text-dark-50">PRICE:
																<span class="text-info font-weight-boldest ml-2"><%- cur %><%= part.price %> (discount: <%= part.discount %>%)</span></div>
																<div class="line-height-xl"><%= part.description %></div>
															</div>
														</div>
														<div class="row mb-6">
															<!--begin::Info-->
															<div class="col-6 col-md-4">
																<div class="mb-8 d-flex flex-column">
																	<span class="text-dark font-weight-bold mb-4">Brand</span>
																	<span class="text-muted font-weight-bolder font-size-lg"><%= part.model.car.brand.name %></span>
																</div>
															</div>
															<div class="col-6 col-md-4">
																<div class="mb-8 d-flex flex-column">
																	<span class="text-dark font-weight-bold mb-4">Car</span>
																	<span class="text-muted font-weight-bolder font-size-lg"><%= part.model.name %>  [<%= part.model.car.name %>]</span>
																</div>
															</div>
															<div class="col-6 col-md-4">
																<div class="mb-8 d-flex flex-column">
																	<span class="text-dark font-weight-bold mb-4">Category</span>
																	<span class="text-muted font-weight-bolder font-size-lg"><% if(cat){ %><%= cat.title %> <% } %></span>
																</div>
															</div>
															<div class="col-6 col-md-4">
																<div class="mb-8 d-flex flex-column">
																	<span class="text-dark font-weight-bold mb-4">Weight</span>
																	<span class="text-muted font-weight-bolder font-size-lg"><%= part.weight_in_kg %>KG</span>
																</div>
															</div>
																<div class="col-6 col-md-4">
																<div class="mb-8 d-flex flex-column">
																	<span class="text-dark font-weight-bold mb-4">Year</span>
																	<span class="text-muted font-weight-bolder font-size-lg"><%= part.model.year %><%= part.model.year_2 !== part.model.year ? " - " + part.model.year_2 : null %></span>
																</div>
															</div>
															<div class="col-6 col-md-4">
																<div class="mb-8 d-flex flex-column">
																	<span class="text-dark font-weight-bold mb-4">Part Number</span>
																	<span class="text-muted font-weight-bolder font-size-lg"><%= part.product_code %></span>
																</div>
															</div>
															<div class="col-6 col-md-4">
																<div class="mb-8 d-flex flex-column">
																	<span class="text-dark font-weight-bold mb-4">Amount In Stock</span>
																	<span class="text-muted font-weight-bolder font-size-lg">
																	    <div class="accordion accordion-toggle-arrow" id="accordionExample1">
    <div class="card">
        <div class="card-header">
            <div class="card-title" data-toggle="collapse" data-target="#collapseOne1">
    <i class="flaticon-pie-chart-1"></i> Available
            </div>
        </div>
        <div id="collapseOne1" class="collapse" data-parent="#accordionExample1">
            <div class="card-body">
                <%= part.stock %>
            </div>
        </div>
    </div>
</div>
</span>
																</div>
															</div>
															<div class="col-6 col-md-4">
																<div class="mb-8">
																	<span class="text-dark font-weight-bold mb-4 w-100">Availability</span><br/>
																	<% if(part.available){ %>
																	<div class="badge badge-success">On</div>
																	<% }else { %>
																	<div class="badge badge-danger">Off</div>
																	
																	<% } %>
																</div>
															</div>
															<div class="col-6 col-md-4">
																<div class="mb-8 d-flex flex-column">
																	<span class="text-dark font-weight-bold mb-4">By: <%= part.maker.name %></span>
																	<img src="https://gapaautoparts.com<%= part.maker.img_url %>" style="width: 60px!important;" />
																</div>
															</div>
															<div class="col-6 col-md-4">
																<div class="mb-8">
																	<span class="text-dark font-weight-bold mb-4 w-100">Action</span><br/>
																	   <button type="button" class="btn btn-light-danger font-weight-bolder" onclick="del('<%= part.id %>')">
											    <span class="svg-icon-danger svg-icon-4x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo10/dist/../src/media/svg/icons/Home/Trash.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"/>
                                                        <path d="M6,8 L18,8 L17.106535,19.6150447 C17.04642,20.3965405 16.3947578,21 15.6109533,21 L8.38904671,21 C7.60524225,21 6.95358004,20.3965405 6.89346498,19.6150447 L6,8 Z M8,10 L8.45438229,14.0894406 L15.5517885,14.0339036 L16,10 L8,10 Z" fill="#000000" fill-rule="nonzero"/>
                                                        <path d="M14,4.5 L14,3.5 C14,3.22385763 13.7761424,3 13.5,3 L10.5,3 C10.2238576,3 10,3.22385763 10,3.5 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"/>
                                                    </g>
                                                </svg><!--end::Svg Icon--></span></button>
																</div>
															</div>
														</div>
														<!--begin::Buttons-->
														<div class="d-flex">
															<button type="button" class="btn btn-light-primary font-weight-bolder px-8 font-size-sm"  data-toggle="modal" data-target="#editMod">
															<span class="svg-icon">
																<!--begin::Svg Icon | path:assets/media/svg/icons/Files/File-done.svg-->
																<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																		<polygon points="0 0 24 0 24 24 0 24"></polygon>
																		<path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z M10.875,15.75 C11.1145833,15.75 11.3541667,15.6541667 11.5458333,15.4625 L15.3791667,11.6291667 C15.7625,11.2458333 15.7625,10.6708333 15.3791667,10.2875 C14.9958333,9.90416667 14.4208333,9.90416667 14.0375,10.2875 L10.875,13.45 L9.62916667,12.2041667 C9.29375,11.8208333 8.67083333,11.8208333 8.2875,12.2041667 C7.90416667,12.5875 7.90416667,13.1625 8.2875,13.5458333 L10.2041667,15.4625 C10.3958333,15.6541667 10.6354167,15.75 10.875,15.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
																		<path d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z" fill="#000000"></path>
																	</g>
																</svg>
																<!--end::Svg Icon-->
															</span>Edit</button>
														</div>
														<!--end::Buttons-->
													</div>
												</div>
												<!--end::Engage Widget 14-->
											</div>
											 
                         <div class="modal fade" id="editMod" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       <form class="form fv-plugins-bootstrap fv-plugins-framework" onsubmit="edit(event)">
														<!--begin::Step 1-->
														<div class="pb-5">
															<h3 class="mb-10 font-weight-bold text-dark">Edit Product</h3>
														    	<div class="form-group">
        														<label>Product Image</label>
        														<div></div>
        														<div class="custom-file">
        															<input type="file" class="custom-file-input" id="img2" accept="image/png, image/gif, image/jpeg">
        															<label class="custom-file-label" for="customFile">Choose file</label>
        														</div>
        														<span class="form-text text-danger" id="ed_err_img"></span>
        													</div>
        													
															<div class="form-group">
														<label>Product Image 2</label>
														<div></div>
														<div class="custom-file">
															<input type="file" class="custom-file-input" id="img3" accept="image/png, image/gif, image/jpeg">
															<label class="custom-file-label" for="customFile">Choose file</label>
														</div>
														<span class="form-text text-danger" id="err_img_2"></span>
													</div>
															<div class="form-group">
														<label>Product Image 3</label>
														<div></div>
														<div class="custom-file">
															<input type="file" class="custom-file-input" id="img4" accept="image/png, image/gif, image/jpeg">
															<label class="custom-file-label" for="customFile">Choose file</label>
														</div>
														<span class="form-text text-danger" id="err_img_3"></span>
													</div>
	                                                        <div class="form-group fv-plugins-icon-container has-success">
																<label>Product Title</label>
																<input type="text" class="form-control form-control-lg form-control-solid" id="title" placeholder="Product Title" value="<%= part.name %>" required>
																<span class="form-text text-muted">Enter Product Title.</span>
															<div class="fv-plugins-message-container"></div></div>
															  <div class="form-group fv-plugins-icon-container has-success">
																<label>Product Title</label>
																<input type="text" class="form-control form-control-lg form-control-solid" id="code" placeholder="Part Number" value="<%= part.product_code %>" required>
																<span class="form-text text-muted">Enter Part Number.</span>
															<div class="fv-plugins-message-container"></div></div>
															<div class="form-group">
																<label>Description</label>
																<textarea rows="7" class="form-control form-control-lg form-control-solid" id="desc" required><%= part.description %></textarea>
																<span class="form-text text-muted">Please Provide a description</span>
															</div>
															<div class="row">
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Price <b><%- cur %></b></label>
																		<input type="number" class="form-control form-control-lg form-control-solid" id="price" min="0" value="<%= part.price %>" required>
																		<span class="form-text text-muted">Please enter product Price.</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Discount (%)</label>
																		<input type="text" class="form-control form-control-lg form-control-solid" id="discount" min="0" max="100" value="<%= part.discount %>" required>
																		<span class="form-text text-muted">Add Product discount</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
															</div>
															<div class="row">
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Category</label>
																		<select id="cat" class="form-control form-control-lg form-control-solid" required>
																			<option value="">Select</option>
																			<% cats.forEach(cat => { %>
																			<% if(cat.slug == part.category){ %>
																			<option value="<%= cat.slug %>" selected><%= cat.title %></option>
																			<% }else { %>
																			<option value="<%= cat.slug %>"><%= cat.title %></option>
																			
																			<% } %>
																			<% }) %>
																		</select>
																		<span class="form-text text-muted">Please select product category.</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
															<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Car (SPARE PART)</label>
																			<select id="car" class="form-control form-control-lg form-control-solid" required>
																			<option value="">Select</option>
																			<% brands.forEach(brand => { %>
																			<optgroup label="<%= brand.name %>">
																			<% brand.cars.forEach(car => { %>
																			  <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;<%= car.name %> " style="margin-left: 35px;">
																			 <% car.models.forEach(model => { %>
																			 <% if(part.model_id == model.id){ %> 
																			 	<option value="<%= model.id %>" selected><%= model.name %></option>
																			 <% }else {  %>
																			 	<option value="<%= model.id %>"><%= model.name %></option>
																			 	<% } %>
																			 <% }) %>
																		  </optgroup>  
																			<% }) %>
																			  </optgroup>  
																			<% }) %>
																		</select>
																		<span class="form-text text-muted">Please Select Product Car/Model</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
															</div>
															<div class="row">
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Product Available</label>
																		<select id="stock" class="form-control form-control-lg form-control-solid" required>
																			<option value="1" <% if(part.available){%>selected<% } %>>In Stock</option>
																			<option value="3" <% if(!part.available){%>selected<% } %>>Out Of Stock</option>
																		</select>
																		<span class="form-text text-muted">Please provide availability.</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																		<label>Amount in Stock</label>
																		<input type="number" id="quantity" min="0" class="form-control form-control-lg form-control-solid" value="<%= part.stock %>" placeholder="Parts Number"required />
																		<span class="form-text text-muted">Please provide Stock amount.</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
																<div class="col-xl-6">
																	<div class="form-group fv-plugins-icon-container has-success">
																	<label>Weight <b>KG</b></label>
																		<input type="number" class="form-control form-control-lg form-control-solid" id="weight" step="any" min="0" value="<%= part.weight_in_kg %>" required>
																		<span class="form-text text-muted">Please provide product weight.</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
																<div class="col-xl-6">
																     <div class="form-group fv-plugins-icon-container has-success">
																		<label>Product Manufacturer</label>
																			<select id="maker_id" class="form-control form-control-lg form-control-solid" required>
																			<option value="">Select</option>
																			<% makers.forEach(maker => { %>
																			<% if(part.maker_id == maker.id){ %> 
																			 	<option value="<%= maker.id %>" selected><%= maker.name %></option>
																			 <% }else {  %>
																			 	<option value="<%= maker.id %>"><%= maker.name %></option>
																		       <% } %>
																			<% }) %>
																		</select>
																		<span class="form-text text-muted">Please Select Product Manufacturer</span>
																	<div class="fv-plugins-message-container"></div></div>
																</div>
															</div>
														
															<input type="hidden" id="ed_id">
														</div>
														<!--end::Step 1-->
														<div class="form-group" id="ed_err">
														    
														</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary font-weight-bold" id="ed_btn">Submit</button></form>
                                    </div>
                                </div>
                            </div>
                        </div>
											<!--<div class="col-md-5 col-lg-12 col-xxl-5">-->
												<!--begin::List Widget 19-->
											<!--	<div class="card card-custom card-stretch card-stretch-half gutter-b">-->
													<!--begin::Header-->
											<!--		<div class="card-header border-0 pt-6 mb-2">-->
											<!--			<h3 class="card-title align-items-start flex-column">-->
											<!--				<span class="card-label font-weight-bold font-size-h4 text-dark-75 mb-3">Stock Info</span>-->
											<!--				<span class="text-muted font-weight-bold font-size-sm">4 of 2,770 Total Items</span>-->
											<!--			</h3>-->
											<!--			<div class="card-toolbar">-->
											<!--				<a href="#" class="btn btn-light-info btn-sm font-weight-bolder font-size-sm py-3 px-6">Upload</a>-->
											<!--			</div>-->
											<!--		</div>-->
													<!--end::Header-->
													<!--begin::Body-->
											<!--		<div class="card-body pt-2">-->
														<!--begin::Table-->
											<!--			<div class="table-responsive">-->
											<!--				<table class="table table-borderless mb-0">-->
											<!--					<tbody>-->
																	<!--begin::Item-->
											<!--						<tr>-->
											<!--							<td class="w-40px align-middle pb-6 pl-0 pr-2">-->
																			<!--begin::Symbol-->
											<!--								<div class="symbol symbol-40 symbol-light-success">-->
											<!--									<span class="symbol-label">-->
											<!--										<span class="svg-icon svg-icon-lg svg-icon-success">-->
																						<!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Cart3.svg-->
											<!--											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
											<!--												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
											<!--													<rect x="0" y="0" width="24" height="24"></rect>-->
											<!--													<path d="M12,4.56204994 L7.76822128,9.6401844 C7.4146572,10.0644613 6.7840925,10.1217854 6.3598156,9.76822128 C5.9355387,9.4146572 5.87821464,8.7840925 6.23177872,8.3598156 L11.2317787,2.3598156 C11.6315738,1.88006147 12.3684262,1.88006147 12.7682213,2.3598156 L17.7682213,8.3598156 C18.1217854,8.7840925 18.0644613,9.4146572 17.6401844,9.76822128 C17.2159075,10.1217854 16.5853428,10.0644613 16.2317787,9.6401844 L12,4.56204994 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>-->
											<!--													<path d="M3.5,9 L20.5,9 C21.0522847,9 21.5,9.44771525 21.5,10 C21.5,10.132026 21.4738562,10.2627452 21.4230769,10.3846154 L17.7692308,19.1538462 C17.3034221,20.271787 16.2111026,21 15,21 L9,21 C7.78889745,21 6.6965779,20.271787 6.23076923,19.1538462 L2.57692308,10.3846154 C2.36450587,9.87481408 2.60558331,9.28934029 3.11538462,9.07692308 C3.23725479,9.02614384 3.36797398,9 3.5,9 Z M12,17 C13.1045695,17 14,16.1045695 14,15 C14,13.8954305 13.1045695,13 12,13 C10.8954305,13 10,13.8954305 10,15 C10,16.1045695 10.8954305,17 12,17 Z" fill="#000000"></path>-->
											<!--												</g>-->
											<!--											</svg>-->
																						<!--end::Svg Icon-->
											<!--										</span>-->
											<!--									</span>-->
											<!--								</div>-->
																			<!--end::Symbol-->
											<!--							</td>-->
											<!--							<td class="font-size-lg font-weight-bolder text-dark-75 align-middle w-150px pb-6">Top Authors</td>-->
											<!--							<td class="font-weight-bold text-muted text-right align-middle pb-6">4600 Users</td>-->
											<!--							<td class="font-weight-bolder font-size-lg text-dark-75 text-right align-middle pb-6">5.4MB</td>-->
											<!--						</tr>-->
																	<!--end::Item-->
																	<!--begin::Item-->
											<!--						<tr>-->
											<!--							<td class="w-40px pb-6 pl-0 pr-2">-->
																			<!--begin::Symbol-->
											<!--								<div class="symbol symbol-40 symbol-light-danger align-middle">-->
											<!--									<span class="symbol-label">-->
											<!--										<span class="svg-icon svg-icon-lg svg-icon-danger">-->
																						<!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-4-blocks.svg-->
											<!--											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
											<!--												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
											<!--													<rect x="0" y="0" width="24" height="24"></rect>-->
											<!--													<rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"></rect>-->
											<!--													<path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3"></path>-->
											<!--												</g>-->
											<!--											</svg>-->
																						<!--end::Svg Icon-->
											<!--										</span>-->
											<!--									</span>-->
											<!--								</div>-->
																			<!--end::Symbol-->
											<!--							</td>-->
											<!--							<td class="font-size-lg font-weight-bolder text-dark-75 w-150px align-middle pb-6">Popular Authors</td>-->
											<!--							<td class="font-weight-bold text-muted text-right align-middle pb-6">7200 Users</td>-->
											<!--							<td class="font-weight-bolder font-size-lg text-dark-75 text-right align-middle pb-6">2.8MB</td>-->
											<!--						</tr>-->
																	<!--end::Item-->
																	<!--begin::Item-->
											<!--						<tr>-->
											<!--							<td class="w-40px pb-6 pl-0 pr-2">-->
																			<!--begin::Symbol-->
											<!--								<div class="symbol symbol-40 symbol-light-primary align-middle">-->
											<!--									<span class="symbol-label">-->
											<!--										<span class="svg-icon svg-icon-lg svg-icon-primary">-->
																						<!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Group.svg-->
											<!--											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
											<!--												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
											<!--													<polygon points="0 0 24 0 24 24 0 24"></polygon>-->
											<!--													<path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>-->
											<!--													<path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>-->
											<!--												</g>-->
											<!--											</svg>-->
																						<!--end::Svg Icon-->
											<!--										</span>-->
											<!--									</span>-->
											<!--								</div>-->
																			<!--end::Symbol-->
											<!--							</td>-->
											<!--							<td class="font-size-lg font-weight-bolder text-dark-75 w-150px align-middle pb-6">New Users</td>-->
											<!--							<td class="font-weight-bold text-muted text-right align-middle pb-6">890 Users</td>-->
											<!--							<td class="font-weight-bolder font-size-lg text-dark-75 text-right align-middle pb-6">1.5MB</td>-->
											<!--						</tr>-->
																	<!--end::Item-->
																	<!--begin::Item-->
											<!--						<tr>-->
											<!--							<td class="w-40px pl-0 pr-2">-->
																			<!--begin::Symbol-->
											<!--								<div class="symbol symbol-40 symbol-light-warning align-middle">-->
											<!--									<span class="symbol-label">-->
											<!--										<span class="svg-icon svg-icon-lg svg-icon-warning">-->
																						<!--begin::Svg Icon | path:assets/media/svg/icons/Home/Library.svg-->
											<!--											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
											<!--												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
											<!--													<rect x="0" y="0" width="24" height="24"></rect>-->
											<!--													<path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" fill="#000000"></path>-->
											<!--													<rect fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)" x="16.3255682" y="2.94551858" width="3" height="18" rx="1"></rect>-->
											<!--												</g>-->
											<!--											</svg>-->
																						<!--end::Svg Icon-->
											<!--										</span>-->
											<!--									</span>-->
											<!--								</div>-->
																			<!--end::Symbol-->
											<!--							</td>-->
											<!--							<td class="font-size-lg font-weight-bolder text-dark-75 w-150px align-middle">Active Customers</td>-->
											<!--							<td class="font-weight-bold text-muted text-right align-middle">6370 Users</td>-->
											<!--							<td class="font-weight-bolder font-size-lg text-dark-75 text-right align-middle">890KB</td>-->
											<!--						</tr>-->
																	<!--end::Item-->
											<!--					</tbody>-->
											<!--				</table>-->
											<!--			</div>-->
														<!--end::Table-->
											<!--		</div>-->
													<!--end::Body-->
											<!--	</div>-->
												<!--end::List Widget 19-->
												<!--begin::List Widget 20-->
											<!--	<div class="card card-custom card-stretch card-stretch-half gutter-b">-->
													<!--begin::Header-->
											<!--		<div class="card-header border-0 pt-6 mb-2">-->
											<!--			<h3 class="card-title align-items-start flex-column">-->
											<!--				<span class="card-label font-weight-bold font-size-h4 text-dark-75 mb-3">Latest Sales</span>-->
											<!--				<span class="text-muted font-weight-bold font-size-sm">More than 400+ new members</span>-->
											<!--			</h3>-->
											<!--			<div class="card-toolbar">-->
											<!--				<div class="dropdown dropdown-inline" data-toggle="tooltip" title="" data-placement="left" data-original-title="Quick actions">-->
											<!--					<a href="#" class="btn btn-light-danger btn-sm font-weight-normal font-size-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard</a>-->
											<!--					<div class="dropdown-menu dropdown-menu-md dropdown-menu-right">-->
																	<!--begin::Navigation-->
											<!--						<ul class="navi navi-hover py-5">-->
											<!--							<li class="navi-item">-->
											<!--								<a href="#" class="navi-link">-->
											<!--									<span class="navi-icon">-->
											<!--										<i class="flaticon2-drop"></i>-->
											<!--									</span>-->
											<!--									<span class="navi-text">New Group</span>-->
											<!--								</a>-->
											<!--							</li>-->
											<!--							<li class="navi-item">-->
											<!--								<a href="#" class="navi-link">-->
											<!--									<span class="navi-icon">-->
											<!--										<i class="flaticon2-list-3"></i>-->
											<!--									</span>-->
											<!--									<span class="navi-text">Contacts</span>-->
											<!--								</a>-->
											<!--							</li>-->
											<!--							<li class="navi-item">-->
											<!--								<a href="#" class="navi-link">-->
											<!--									<span class="navi-icon">-->
											<!--										<i class="flaticon2-rocket-1"></i>-->
											<!--									</span>-->
											<!--									<span class="navi-text">Groups</span>-->
											<!--									<span class="navi-link-badge">-->
											<!--										<span class="label label-light-primary label-inline font-weight-bold">new</span>-->
											<!--									</span>-->
											<!--								</a>-->
											<!--							</li>-->
											<!--							<li class="navi-item">-->
											<!--								<a href="#" class="navi-link">-->
											<!--									<span class="navi-icon">-->
											<!--										<i class="flaticon2-bell-2"></i>-->
											<!--									</span>-->
											<!--									<span class="navi-text">Calls</span>-->
											<!--								</a>-->
											<!--							</li>-->
											<!--							<li class="navi-item">-->
											<!--								<a href="#" class="navi-link">-->
											<!--									<span class="navi-icon">-->
											<!--										<i class="flaticon2-gear"></i>-->
											<!--									</span>-->
											<!--									<span class="navi-text">Settings</span>-->
											<!--								</a>-->
											<!--							</li>-->
											<!--							<li class="navi-separator my-3"></li>-->
											<!--							<li class="navi-item">-->
											<!--								<a href="#" class="navi-link">-->
											<!--									<span class="navi-icon">-->
											<!--										<i class="flaticon2-magnifier-tool"></i>-->
											<!--									</span>-->
											<!--									<span class="navi-text">Help</span>-->
											<!--								</a>-->
											<!--							</li>-->
											<!--							<li class="navi-item">-->
											<!--								<a href="#" class="navi-link">-->
											<!--									<span class="navi-icon">-->
											<!--										<i class="flaticon2-bell-2"></i>-->
											<!--									</span>-->
											<!--									<span class="navi-text">Privacy</span>-->
											<!--									<span class="navi-link-badge">-->
											<!--										<span class="label label-light-danger label-rounded font-weight-bold">5</span>-->
											<!--									</span>-->
											<!--								</a>-->
											<!--							</li>-->
											<!--						</ul>-->
																	<!--end::Navigation-->
											<!--					</div>-->
											<!--				</div>-->
											<!--			</div>-->
											<!--		</div>-->
													<!--end::Header-->
													<!--begin::Body-->
											<!--		<div class="card-body pt-2">-->
														<!--begin::Table-->
											<!--			<div class="table-responsive">-->
											<!--				<table class="table table-borderless mb-0">-->
											<!--					<tbody>-->
																	<!--begin::Item-->
											<!--						<tr>-->
																		<!--begin::Icon-->
											<!--							<td class="align-middle w-50px pl-0 pr-2 pb-6">-->
																			<!--begin::Symbol-->
											<!--								<div class="symbol symbol-50 symbol-light-success">-->
											<!--									<div class="symbol-label" style="background-image: url('assets/media/stock-600x400/img-26.jpg')"></div>-->
											<!--								</div>-->
																			<!--end::Symbol-->
											<!--							</td>-->
																		<!--end::Icon-->
																		<!--begin::Content-->
											<!--							<td class="align-middle pb-6">-->
											<!--								<div class="font-size-lg font-weight-bolder text-dark-75 mb-1">Special Meal</div>-->
											<!--								<div class="font-weight-bold text-muted">Quona Rice</div>-->
											<!--							</td>-->
											<!--							<td class="font-weight-bold text-muted align-middle text-right pb-6">-->
											<!--								<span class="svg-icon">-->
																				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Close.svg-->
											<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
											<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
											<!--											<g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">-->
											<!--												<rect x="0" y="7" width="16" height="2" rx="1"></rect>-->
											<!--												<rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1"></rect>-->
											<!--											</g>-->
											<!--										</g>-->
											<!--									</svg>-->
																				<!--end::Svg Icon-->
											<!--								</span>-->
											<!--								<span class="text-success font-size-h5 font-weight-bolder ml-1">5</span>-->
											<!--							</td>-->
											<!--							<td class="text-right align-middle pb-6">-->
											<!--								<div class="font-weight-bold text-muted mb-1">To Pay</div>-->
											<!--								<div class="font-size-lg font-weight-bolder text-dark-75">$600.00</div>-->
											<!--							</td>-->
																		<!--end::Content-->
											<!--						</tr>-->
																	<!--end::Item-->
																	<!--begin::Item-->
											<!--						<tr>-->
																		<!--begin::Icon-->
											<!--							<td class="align-middle w-50px pl-0 pr-2 pb-6">-->
																			<!--begin::Symbol-->
											<!--								<div class="symbol symbol-50 symbol-light-success">-->
											<!--									<div class="symbol-label" style="background-image: url('assets/media/stock-600x400/img-3.jpg')"></div>-->
											<!--								</div>-->
																			<!--end::Symbol-->
											<!--							</td>-->
																		<!--end::Icon-->
																		<!--begin::Content-->
											<!--							<td class="align-middle pb-6">-->
											<!--								<div class="font-size-lg font-weight-bolder text-dark-75 mb-1">Orange Wholesale</div>-->
											<!--								<div class="font-weight-bold text-muted">Blue Orange</div>-->
											<!--							</td>-->
											<!--							<td class="font-weight-bold text-muted align-middle text-right pb-6">-->
											<!--								<span class="svg-icon">-->
																				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Close.svg-->
											<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
											<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
											<!--											<g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">-->
											<!--												<rect x="0" y="7" width="16" height="2" rx="1"></rect>-->
											<!--												<rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1"></rect>-->
											<!--											</g>-->
											<!--										</g>-->
											<!--									</svg>-->
																				<!--end::Svg Icon-->
											<!--								</span>-->
											<!--								<span class="text-success font-size-h5 font-weight-bolder ml-1">200</span>-->
											<!--							</td>-->
											<!--							<td class="text-right align-middle pb-6">-->
											<!--								<div class="font-weight-bold text-muted mb-1">To Pay</div>-->
											<!--								<div class="font-size-lg font-weight-bolder text-dark-75">$6400.00</div>-->
											<!--							</td>-->
																		<!--end::Content-->
											<!--						</tr>-->
																	<!--end::Item-->
																	<!--begin::Item-->
											<!--						<tr>-->
																		<!--begin::Icon-->
											<!--							<td class="align-middle w-50px pl-0 pr-2">-->
																			<!--begin::Symbol-->
											<!--								<div class="symbol symbol-50 symbol-light-success">-->
											<!--									<div class="symbol-label" style="background-image: url('assets/media/stock-600x400/img-5.jpg')"></div>-->
											<!--								</div>-->
																			<!--end::Symbol-->
											<!--							</td>-->
																		<!--end::Icon-->
																		<!--begin::Content-->
											<!--							<td class="align-middle">-->
											<!--								<div class="font-size-lg font-weight-bolder text-dark-75 mb-1">Avocado Box</div>-->
											<!--								<div class="font-weight-bold text-muted">From Spain</div>-->
											<!--							</td>-->
											<!--							<td class="font-weight-bold text-muted align-middle text-right">-->
											<!--								<span class="svg-icon">-->
																				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Close.svg-->
											<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
											<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
											<!--											<g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">-->
											<!--												<rect x="0" y="7" width="16" height="2" rx="1"></rect>-->
											<!--												<rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1"></rect>-->
											<!--											</g>-->
											<!--										</g>-->
											<!--									</svg>-->
																				<!--end::Svg Icon-->
											<!--								</span>-->
											<!--								<span class="text-success font-size-h5 font-weight-bolder ml-1">2</span>-->
											<!--							</td>-->
											<!--							<td class="text-right align-middle">-->
											<!--								<div class="font-weight-bold text-muted mb-1">To Pay</div>-->
											<!--								<div class="font-size-lg font-weight-bolder text-dark-75">$800.00</div>-->
											<!--							</td>-->
																		<!--end::Content-->
											<!--						</tr>-->
																	<!--end::Item-->
											<!--					</tbody>-->
											<!--				</table>-->
											<!--			</div>-->
														<!--end::Table-->
											<!--		</div>-->
													<!--end::Body-->
											<!--	</div>-->
												<!--end::List Widget 20-->
											<!--</div>-->
										</div>
										<!--end::Section-->
										<!--begin::Section-->
										<!--begin::Advance Table Widget 10-->
										<!--<div class="card card-custom">-->
											<!--begin::Header-->
										<!--	<div class="card-header border-0 py-5">-->
										<!--		<h3 class="card-title align-items-start flex-column">-->
										<!--			<span class="card-label font-weight-bolder text-dark">New Arrivals</span>-->
										<!--			<span class="text-muted mt-3 font-weight-bold font-size-sm">More than 400+ new members</span>-->
										<!--		</h3>-->
										<!--		<div class="card-toolbar">-->
										<!--			<a href="#" class="btn btn-primary font-weight-bolder font-size-sm">New Report</a>-->
										<!--		</div>-->
										<!--	</div>-->
											<!--end::Header-->
											<!--begin::Body-->
										<!--	<div class="card-body py-0">-->
												<!--begin::Table-->
										<!--		<div class="table-responsive">-->
										<!--			<table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_4">-->
										<!--				<thead>-->
										<!--					<tr class="text-left">-->
										<!--						<th class="pl-0" style="width: 30px">-->
										<!--							<label class="checkbox checkbox-lg checkbox-inline mr-2">-->
										<!--								<input type="checkbox" value="1">-->
										<!--								<span></span>-->
										<!--							</label>-->
										<!--						</th>-->
										<!--						<th class="pl-0" style="min-width: 120px">Order id</th>-->
										<!--						<th style="min-width: 110px">Country</th>-->
										<!--						<th style="min-width: 110px">-->
										<!--							<span class="text-primary">Date</span>-->
										<!--							<span class="svg-icon svg-icon-sm svg-icon-primary">-->
																		<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Down-2.svg-->
										<!--								<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--										<polygon points="0 0 24 0 24 24 0 24"></polygon>-->
										<!--										<rect fill="#000000" opacity="0.3" x="11" y="4" width="2" height="10" rx="1"></rect>-->
										<!--										<path d="M6.70710678,19.7071068 C6.31658249,20.0976311 5.68341751,20.0976311 5.29289322,19.7071068 C4.90236893,19.3165825 4.90236893,18.6834175 5.29289322,18.2928932 L11.2928932,12.2928932 C11.6714722,11.9143143 12.2810586,11.9010687 12.6757246,12.2628459 L18.6757246,17.7628459 C19.0828436,18.1360383 19.1103465,18.7686056 18.7371541,19.1757246 C18.3639617,19.5828436 17.7313944,19.6103465 17.3242754,19.2371541 L12.0300757,14.3841378 L6.70710678,19.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 15.999999) scale(1, -1) translate(-12.000003, -15.999999)"></path>-->
										<!--									</g>-->
										<!--								</svg>-->
																		<!--end::Svg Icon-->
										<!--							</span>-->
										<!--						</th>-->
										<!--						<th style="min-width: 120px">Company</th>-->
										<!--						<th style="min-width: 120px">Status</th>-->
										<!--						<th class="pr-0 text-right" style="min-width: 160px">Action</th>-->
										<!--					</tr>-->
										<!--				</thead>-->
										<!--				<tbody>-->
										<!--					<tr>-->
										<!--						<td class="pl-0 py-6">-->
										<!--							<label class="checkbox checkbox-lg checkbox-inline">-->
										<!--								<input type="checkbox" value="1">-->
										<!--								<span></span>-->
										<!--							</label>-->
										<!--						</td>-->
										<!--						<td class="pl-0">-->
										<!--							<a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">56037-XDER</a>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="text-dark-75 font-weight-bolder d-block font-size-lg">Brasil</span>-->
										<!--							<span class="text-muted font-weight-bold">Code: BR</span>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="text-primary font-weight-bolder d-block font-size-lg">05/28/2020</span>-->
										<!--							<span class="text-muted font-weight-bold">Paid</span>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="text-dark-75 font-weight-bolder d-block font-size-lg">Intertico</span>-->
										<!--							<span class="text-muted font-weight-bold">Web, UI/UX Design</span>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="label label-lg label-light-primary label-inline">Approved</span>-->
										<!--						</td>-->
										<!--						<td class="pr-0 text-right">-->
										<!--							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">-->
										<!--								<span class="svg-icon svg-icon-md svg-icon-primary">-->
																			<!--begin::Svg Icon | path:assets/media/svg/icons/General/Settings-1.svg-->
										<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--											<rect x="0" y="0" width="24" height="24"></rect>-->
										<!--											<path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>-->
										<!--											<path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>-->
										<!--										</g>-->
										<!--									</svg>-->
																			<!--end::Svg Icon-->
										<!--								</span>-->
										<!--							</a>-->
										<!--							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">-->
										<!--								<span class="svg-icon svg-icon-md svg-icon-primary">-->
																			<!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Write.svg-->
										<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--											<rect x="0" y="0" width="24" height="24"></rect>-->
										<!--											<path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953)"></path>-->
										<!--											<path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>-->
										<!--										</g>-->
										<!--									</svg>-->
																			<!--end::Svg Icon-->
										<!--								</span>-->
										<!--							</a>-->
										<!--							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">-->
										<!--								<span class="svg-icon svg-icon-md svg-icon-primary">-->
																			<!--begin::Svg Icon | path:assets/media/svg/icons/General/Trash.svg-->
										<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--											<rect x="0" y="0" width="24" height="24"></rect>-->
										<!--											<path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>-->
										<!--											<path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>-->
										<!--										</g>-->
										<!--									</svg>-->
																			<!--end::Svg Icon-->
										<!--								</span>-->
										<!--							</a>-->
										<!--						</td>-->
										<!--					</tr>-->
										<!--					<tr>-->
										<!--						<td class="pl-0 py-6">-->
										<!--							<label class="checkbox checkbox-lg checkbox-inline">-->
										<!--								<input type="checkbox" value="1">-->
										<!--								<span></span>-->
										<!--							</label>-->
										<!--						</td>-->
										<!--						<td class="pl-0">-->
										<!--							<a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">05822-FXSP</a>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="text-dark-75 font-weight-bolder d-block font-size-lg">Belarus</span>-->
										<!--							<span class="text-muted font-weight-bold">Code: BY</span>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="text-primary font-weight-bolder d-block font-size-lg">02/04/2020</span>-->
										<!--							<span class="text-muted font-weight-bold">Rejected</span>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="text-dark-75 font-weight-bolder d-block font-size-lg">Agoda</span>-->
										<!--							<span class="text-muted font-weight-bold">Houses &amp; Hotels</span>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="label label-lg label-light-warning label-inline">In Progress</span>-->
										<!--						</td>-->
										<!--						<td class="pr-0 text-right">-->
										<!--							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">-->
										<!--								<span class="svg-icon svg-icon-md svg-icon-primary">-->
																			<!--begin::Svg Icon | path:assets/media/svg/icons/General/Settings-1.svg-->
										<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--											<rect x="0" y="0" width="24" height="24"></rect>-->
										<!--											<path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>-->
										<!--											<path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>-->
										<!--										</g>-->
										<!--									</svg>-->
																			<!--end::Svg Icon-->
										<!--								</span>-->
										<!--							</a>-->
										<!--							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">-->
										<!--								<span class="svg-icon svg-icon-md svg-icon-primary">-->
																			<!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Write.svg-->
										<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--											<rect x="0" y="0" width="24" height="24"></rect>-->
										<!--											<path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953)"></path>-->
										<!--											<path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>-->
										<!--										</g>-->
										<!--									</svg>-->
																			<!--end::Svg Icon-->
										<!--								</span>-->
										<!--							</a>-->
										<!--							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">-->
										<!--								<span class="svg-icon svg-icon-md svg-icon-primary">-->
																			<!--begin::Svg Icon | path:assets/media/svg/icons/General/Trash.svg-->
										<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--											<rect x="0" y="0" width="24" height="24"></rect>-->
										<!--											<path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>-->
										<!--											<path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>-->
										<!--										</g>-->
										<!--									</svg>-->
																			<!--end::Svg Icon-->
										<!--								</span>-->
										<!--							</a>-->
										<!--						</td>-->
										<!--					</tr>-->
										<!--					<tr>-->
										<!--						<td class="pl-0 py-6">-->
										<!--							<label class="checkbox checkbox-lg checkbox-inline">-->
										<!--								<input type="checkbox" value="1">-->
										<!--								<span></span>-->
										<!--							</label>-->
										<!--						</td>-->
										<!--						<td class="pl-0">-->
										<!--							<a href="#" class="text-dark-75 font-weight-bolder text-hover-primary ont-size-lg">00347-BCLQ</a>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="text-dark-75 font-weight-bolder d-block font-size-lg">Phillipines</span>-->
										<!--							<span class="text-muted font-weight-bold">Code: PH</span>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="text-primary font-weight-bolder d-block font-size-lg">23/12/2020</span>-->
										<!--							<span class="text-muted font-weight-bold">Paid</span>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="text-dark-75 font-weight-bolder d-block font-size-lg">RoadGee</span>-->
										<!--							<span class="text-muted font-weight-bold">Transportation</span>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="label label-lg label-light-success label-inline">Success</span>-->
										<!--						</td>-->
										<!--						<td class="pr-0 text-right">-->
										<!--							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">-->
										<!--								<span class="svg-icon svg-icon-md svg-icon-primary">-->
																			<!--begin::Svg Icon | path:assets/media/svg/icons/General/Settings-1.svg-->
										<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--											<rect x="0" y="0" width="24" height="24"></rect>-->
										<!--											<path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>-->
										<!--											<path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>-->
										<!--										</g>-->
										<!--									</svg>-->
																			<!--end::Svg Icon-->
										<!--								</span>-->
										<!--							</a>-->
										<!--							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">-->
										<!--								<span class="svg-icon svg-icon-md svg-icon-primary">-->
																			<!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Write.svg-->
										<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--											<rect x="0" y="0" width="24" height="24"></rect>-->
										<!--											<path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953)"></path>-->
										<!--											<path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>-->
										<!--										</g>-->
										<!--									</svg>-->
																			<!--end::Svg Icon-->
										<!--								</span>-->
										<!--							</a>-->
										<!--							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">-->
										<!--								<span class="svg-icon svg-icon-md svg-icon-primary">-->
																			<!--begin::Svg Icon | path:assets/media/svg/icons/General/Trash.svg-->
										<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--											<rect x="0" y="0" width="24" height="24"></rect>-->
										<!--											<path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>-->
										<!--											<path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>-->
										<!--										</g>-->
										<!--									</svg>-->
																			<!--end::Svg Icon-->
										<!--								</span>-->
										<!--							</a>-->
										<!--						</td>-->
										<!--					</tr>-->
										<!--					<tr>-->
										<!--						<td class="pl-0 py-6">-->
										<!--							<label class="checkbox checkbox-lg checkbox-inline">-->
										<!--								<input type="checkbox" value="1">-->
										<!--								<span></span>-->
										<!--							</label>-->
										<!--						</td>-->
										<!--						<td class="pl-0">-->
										<!--							<a href="#" class="text-dark font-weight-bolder text-hover-primary font-size-lg">4472-QREX</a>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="text-dark-75 font-weight-bolder d-block font-size-lg">Argentina</span>-->
										<!--							<span class="text-muted font-weight-bold">Code: AR</span>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="text-primary font-weight-bolder d-block font-size-lg">17/09/2021</span>-->
										<!--							<span class="text-muted font-weight-bold">Pending</span>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="text-dark-75 font-weight-bolder d-block font-size-lg">The Hill</span>-->
										<!--							<span class="text-muted font-weight-bold">Insurance</span>-->
										<!--						</td>-->
										<!--						<td>-->
										<!--							<span class="label label-lg label-light-danger label-inline">Rejected</span>-->
										<!--						</td>-->
										<!--						<td class="pr-0 text-right">-->
										<!--							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">-->
										<!--								<span class="svg-icon svg-icon-md svg-icon-primary">-->
																			<!--begin::Svg Icon | path:assets/media/svg/icons/General/Settings-1.svg-->
										<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--											<rect x="0" y="0" width="24" height="24"></rect>-->
										<!--											<path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>-->
										<!--											<path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>-->
										<!--										</g>-->
										<!--									</svg>-->
																			<!--end::Svg Icon-->
										<!--								</span>-->
										<!--							</a>-->
										<!--							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3">-->
										<!--								<span class="svg-icon svg-icon-md svg-icon-primary">-->
																			<!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Write.svg-->
										<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--											<rect x="0" y="0" width="24" height="24"></rect>-->
										<!--											<path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953)"></path>-->
										<!--											<path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>-->
										<!--										</g>-->
										<!--									</svg>-->
																			<!--end::Svg Icon-->
										<!--								</span>-->
										<!--							</a>-->
										<!--							<a href="#" class="btn btn-icon btn-light btn-hover-primary btn-sm">-->
										<!--								<span class="svg-icon svg-icon-md svg-icon-primary">-->
																			<!--begin::Svg Icon | path:assets/media/svg/icons/General/Trash.svg-->
										<!--									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
										<!--										<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
										<!--											<rect x="0" y="0" width="24" height="24"></rect>-->
										<!--											<path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>-->
										<!--											<path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>-->
										<!--										</g>-->
										<!--									</svg>-->
																			<!--end::Svg Icon-->
										<!--								</span>-->
										<!--							</a>-->
										<!--						</td>-->
										<!--					</tr>-->
										<!--				</tbody>-->
										<!--			</table>-->
										<!--		</div>-->
												<!--end::Table-->
										<!--	</div>-->
											<!--end::Body-->
										<!--</div>-->
										<!--end::Advance Table Widget 10-->
										<!--end::Section-->
									</div>
									<!--end::Layout-->
								</div>
								<!--end::Page Layout-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>

<%- include("footer") %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(document).ready(function(){
  $(".owl-carousel").owlCarousel({
    loop:true,
    center: true,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    },
    autoplay:true,
    autoplayTimeout:5000,
    autoplayHoverPause:true,
    responsiveClass:true
  });
});

    const edit = (event) => {         
             event.preventDefault()
        var fileName = document.getElementById("img2").value;
        var fileName_2 = document.getElementById("img3").value;
        var fileName_3 = document.getElementById("img4").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var idxDot2 = fileName_2.lastIndexOf(".") + 1;
        var idxDot3 = fileName_3.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        var extFile_2 = fileName_2.substr(idxDot2, fileName_2.length).toLowerCase();
        var extFile_3 = fileName_3.substr(idxDot3, fileName_3.length).toLowerCase();
          document.getElementById("ed_btn").innerHTML = "Loading..." 
          document.getElementById("ed_btn").disabled = true
          document.getElementById("ed_err_img").innerHTML = "" 
          document.getElementById("ed_err").innerHTML = "" 
       if(document.getElementById("img2").files.length == 0 && document.getElementById("img3").files.length == 0 && document.getElementById("img4").files.length == 0){
      axios.post('/edit-part-2',
         {
             title: document.getElementById("title").value,
             id: "<%= part.id %>",
             description: document.getElementById("desc").value,
             price: document.getElementById("price").value,
             discount: document.getElementById("discount").value,
             cat: document.getElementById("cat").value,
             car_id: document.getElementById("car").value,
             stock: document.getElementById("stock").value,
             weight: document.getElementById("weight").value,
             maker_id: document.getElementById("maker_id").value,
             product_code: document.getElementById("code").value,
             quantity: document.getElementById("quantity").value             
             
         }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
    document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-success fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.message}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("ed_btn").innerHTML = "Submit" 
    document.getElementById("ed_btn").disabled = false
	location.reload()
            }
            	else if(res.data.error){
          document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
        document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
  document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${error.response.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
             document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false   }
            }
            else if(error){
            console.log(error)
  document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">Could not process your request please try again!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
            }
        }
        )
} else { 
    let fd = new FormData();
    var pic = $('#img2')[0].files[0];
    var pic_2 = $('#img3')[0].files[0];
    var pic_3 = $('#img4')[0].files[0];
           if(document.getElementById("img2").files.length != 0 && document.getElementById("img3").files.length != 0 && document.getElementById("img4").files.length != 0){
                 if (extFile !== "jpg" && extFile !=="jpeg" && extFile !=="png"){
          document.getElementById("err_img").innerHTML = "Please Select an image file" 
                              document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
          return;
        }  
          if (extFile_2 !== "jpg" && extFile_2 !=="jpeg" && extFile_2 !=="png"){
          document.getElementById("err_img_2").innerHTML = "Please Select an image file" 
                              document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
          return;
        }  
          if (extFile_3 !== "jpg" && extFile_3 !=="jpeg" && extFile_3 !=="png"){
          document.getElementById("err_img_3").innerHTML = "Please Select an image file" 
                              document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
          return;
        }  
        
        
      fd.append('img', pic);
      
      fd.append('img_2', pic_2);
      
      fd.append('img_3', pic_3);
      
      
      fd.append('imgs', "1_2_3");
           }
           
            if(document.getElementById("img2").files.length != 0 && document.getElementById("img3").files.length != 0 && document.getElementById("img4").files.length == 0){
                          if (extFile !== "jpg" && extFile !=="jpeg" && extFile !=="png"){
          document.getElementById("err_img").innerHTML = "Please Select an image file" 
                              document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
          return;
        }  
          if (extFile_2 !== "jpg" && extFile_2 !=="jpeg" && extFile_2 !=="png"){
          document.getElementById("err_img_2").innerHTML = "Please Select an image file" 
                              document.getElementById("btn").innerHTML = "Submit" 
          document.getElementById("btn").disabled = false
          return;
        }  
        
              fd.append('img', pic);
      
      fd.append('img_2', pic_2);
      
      fd.append('imgs', "1_2");
           }
            if(document.getElementById("img2").files.length != 0 && document.getElementById("img3").files.length == 0 && document.getElementById("img4").files.length != 0){
                          if (extFile !== "jpg" && extFile !=="jpeg" && extFile !=="png"){
          document.getElementById("err_img").innerHTML = "Please Select an image file" 
                              document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
          return;
        }
                  if (extFile_3 !== "jpg" && extFile_3 !=="jpeg" && extFile_3 !=="png"){
          document.getElementById("err_img_3").innerHTML = "Please Select an image file" 
                              document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
          return;
        } 
              fd.append('img', pic);
      
      fd.append('img_3', pic_3);
      
      
      fd.append('imgs', "1_3");
           }
            if(document.getElementById("img2").files.length == 0 && document.getElementById("img3").files.length != 0 && document.getElementById("img4").files.length != 0){
                         if (extFile_2 !== "jpg" && extFile_2 !=="jpeg" && extFile_2 !=="png"){
          document.getElementById("err_img_2").innerHTML = "Please Select an image file" 
                              document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
          return;
        }  
          if (extFile_3 !== "jpg" && extFile_3 !=="jpeg" && extFile_3 !=="png"){
          document.getElementById("err_img_3").innerHTML = "Please Select an image file" 
                              document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
          return;
        }  
        

      
      fd.append('img_2', pic_2);
      
      fd.append('img_3', pic_3);
      
      
      fd.append('imgs', "2_3");

           }
            if(document.getElementById("img2").files.length != 0 && document.getElementById("img3").files.length == 0 && document.getElementById("img4").files.length == 0){
                                 if (extFile !== "jpg" && extFile !=="jpeg" && extFile !=="png"){
          document.getElementById("err_img").innerHTML = "Please Select an image file" 
                              document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
          return;
        }  
              fd.append('img', pic);
      
      fd.append('imgs', "1");
           }
            if(document.getElementById("img2").files.length == 0 && document.getElementById("img3").files.length != 0 && document.getElementById("img4").files.length == 0){
                                        if (extFile_2 !== "jpg" && extFile_2 !== "jpeg" && extFile_2 !== "png"){
          document.getElementById("err_img_2").innerHTML = "Please Select an image file" 
                              document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
          return;
        }  
      fd.append('img_2', pic_2)
      
      fd.append('imgs', "2");
           }
            if(document.getElementById("img2").files.length == 0 && document.getElementById("img3").files.length == 0 && document.getElementById("img4").files.length != 0){
                         if (extFile_3 !== "jpg" && extFile_3 !=="jpeg" && extFile_3 !=="png"){
          document.getElementById("err_img_3").innerHTML = "Please Select an image file" 
                              document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
          return;
        } 
      
      fd.append('img_3', pic_3);
      
      
      fd.append('imgs', "3");
           }


 
      

        fd.append('title', document.getElementById("title").value)
        fd.append('id', "<%= part.id %>")
        fd.append('description', document.getElementById("desc").value)
        fd.append('price', document.getElementById("price").value)
        fd.append('discount', document.getElementById("discount").value)
        fd.append('cat', document.getElementById("cat").value)
        fd.append('car_id', document.getElementById("car").value)
        fd.append('stock', document.getElementById("stock").value)
        fd.append('quantity', document.getElementById("quantity").value)        
        fd.append('product_code', document.getElementById("code").value)        
        fd.append('weight', document.getElementById("weight").value)
        fd.append('maker_id', document.getElementById("maker_id").value)
      axios.post('/edit-part-1',
          fd, {
           headers: {
                      'Content-Type': 'multipart/form-data'
                    },
          }
        ).then(function (res) {
          console.log(res);
               if(res.data.message){
    document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-success fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.message}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("ed_btn").innerHTML = "Submit" 
    document.getElementById("ed_btn").disabled = false
	location.reload()
            }
            	else if(res.data.error){
          document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${res.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
        document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
            	    
            	}
        
        })
       .catch(error => {
            if(error.response){
            
                if(error.response.status == 401){
                    console.log(error.response)
  document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">${error.response.data.error}!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
             document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false   }
            }
            else if(error){
            console.log(error)
  document.getElementById("ed_err").innerHTML = `
                <div class="alert alert-custom alert-danger fade show" role="alert">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">Could not process your request please try again!</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>`
	document.getElementById("ed_btn").innerHTML = "Submit" 
          document.getElementById("ed_btn").disabled = false
            }
        }
        )
      
}
      } 
         const del = (id) => {
     $.confirm({
    title: 'CAUTION!',
    content: 'Proceed to delete this Prouct? This will delete all orders, wishlists related to this Product',
    buttons: {
        proceed: function () {
            axios.post("/delete-product", {
                prod_id: id
            }).then(data => {
                console.log(data)
                if(data.data.message){
                    $.alert(data.data.message);
                    location.reload()
                }
                if(data.data.error){
                    $.alert(data.data.error);
                }
            }).catch(err => {
                if(err){
                    if(err.response){
                        $.alert(err.response.data.error);
                    }else {
                        $.alert("There was an error with your request");
                    }
                }
            })
        },
        cancel: function () {
            $.alert('Canceled!');
        }
    }
});
 }  
</script>