<%- include("header") %>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Details-->
								<div class="d-flex align-items-center flex-wrap mr-2">
									<!--begin::Title-->
									<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Search List</h5>
									<!--end::Title-->
									<!--begin::Separator-->
									<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
									<!--end::Separator-->
								
									<!--begin::Group Actions-->
									<!--end::Group Actions-->
								</div>
								<!--end::Details-->
								<!--begin::Toolbar-->
								<!--end::Toolbar-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Card-->
								<div class="card card-custom">
									<!--begin::Header-->
									<div class="card-header flex-wrap border-0 pt-6 pb-0">
										<div class="card-title">
											<h3 class="card-label">Product Searches
											<span class="d-block text-muted pt-2 font-size-sm">All Search Queries by users</span></h3>
										</div>
										<div class="card-toolbar"></div>
									</div>
									<!--end::Header-->
									<!--begin::Body-->
									<div class="card-body">
									<% if(searches.length > 0)	{ %>									
									<!--begin: Datatable-->
										<table class="table table-bordered" id="tb">
											<thead>
												<tr>
													<th>User</th>
													<th>Search Query</th>
													<th>Location</th>
													<th>Phone</th>
													<th>Date-Time</th
												</tr>
											</thead>
											<tbody>
											    <% searches.forEach(search => { %>
												<tr>
													<td><%if(search.name){ %>
													<span style="width: 250px;"><div class="d-flex align-items-center">
													    <div class="symbol symbol-40 symbol-light-primary flex-shrink-0">									
													    <span class="symbol-label font-size-h4 font-weight-bold text-uppercase"><%= search.name.split("")[0] %></span></div>								
													    <div class="ml-4">									
													    <div class="text-dark-75 font-weight-bolder font-size-lg mb-0"><%= search.name %></div>
													    <a href="#" class="text-muted font-weight-bold text-hover-primary"><%= search.email %></a></div></div></span>
													    <% }else { %>
													    unavailable
													    <% } %>
													    </td>
													<td><%= search.search %></td>
													<td><span style="width: 108px;"><div class="font-weight-bolder font-size-lg mb-0"><%= search.location %></div><div class="font-weight-bold text-muted small">IP: <%= search.ip %></div></span></td>
													<td><%= search.phone? search.phone : 'unavailable' %></td>
													<td><%= moment(search.createdAt).format("LL") %></td>
													
												</tr>
												<% }) %>
											</tbody>
										</table>
										<!--end: Datatable-->
										<% }else { %>
										<center class="mt-5 pt-3">
										    <img src="/clean.svg" height="200px" class="img mb-3"/>
										    <p class="small text-muted">No Search Query available</p>
										</center>
										<% } %>
									</div>
									<!--end::Body-->
								</div>
								<!--end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>

<%- include("footer") %>
	<script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
		<script src="assets/js/pages/crud/datatables/basic/basic.js"></script>