<%- include("header") %>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Details-->
								<div class="d-flex align-items-center flex-wrap mr-2">
									<!--begin::Title-->
									<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Top Spare Parts</h5>
									<!--end::Title-->
									<!--begin::Separator-->
									<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
									<!--end::Separator-->
									<!--begin::Search Form-->
									
									<!--end::Search Form-->
									<!--begin::Group Actions-->
									<!--end::Group Actions-->
								</div>
								<!--end::Details-->
								<!--begin::Toolbar-->
								<div class="d-flex align-items-center">
									<!--begin::Button-->
									<a href="#" class=""></a>
									<!--end::Button-->
									<!--begin::Button-->
									<% if(tops.length < 6){ %>
									<a href="#" data-toggle="modal" data-target="#add" class="btn btn-light-primary font-weight-bold ml-2">Add Top Part</a>
									<% } %>
									<!--end::Button-->
						
								</div>
								<!--end::Toolbar-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Row-->
								<div class="row">
								    				<% if(tops.length > 0){ %>
				
			                    	<% tops.forEach(top => { %>
                			
									<!--begin::Column-->
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body text-center pt-4">
												
												<!--begin::User-->
												<div class="mt-7">
													<div class="symbol symbol-circle symbol-lg-90">
														<img src="https://gapaautoparts.com<%= top.part.img_url %>" alt="<%= top.part.name %>">
													</div>
												</div>
												<!--end::User-->
												<!--begin::Name-->
												<div class="my-4">
													<a class="text-dark font-weight-bold text-hover-primary font-size-h4"><%= top.part.name %></a>
												</div>
												<!--end::Name-->
											
												<!--begin::Buttons-->
												<div class="mt-9">
													<a onclick="open_edit('<%= top.id %>')" class="btn btn-light-warning font-weight-bolder btn-sm py-3 px-6 text-uppercase">Edit product</a>
												</div>
												<!--end::Buttons-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::Card-->
									</div>
									<!--end::Column-->
									<% }) %>
                


								</div>
								<!--end::Row-->
								<!--end::Row-->
							 
                                <% } else if(tops.length === 0){ %>
                                
                                <div class="col-xl-6 mt-5 pt-3 mx-auto">
                        <center class="mt-5 pt-5">
        				        <img src="/clean.svg" height="150px" class="mb-3 mt-3">
        				        <p class="small mt-2 mb-4">No Top Parts available</p>
        				        <a href="#" data-toggle="modal" data-target="#add" class="btn btn-sm btn-success mb-3">Add Top Product</a>
        				    </center>
        				    </div>
                        <% } %>
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
   <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Top Product</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="background-color:#DAF0FD;">
                                     	<div class="d-flex flex-column flex-lg-row-auto w-auto w-lg-350px w-xl-450px w-xxl-500px p-10 p-md-20">
															<h1 class="font-weight-bolder text-dark">Search Parts</h1>
															<div class="font-size-h4 mb-8">Find Products</div>
															<!--begin::Form-->
															<form class="d-flex flex-center py-2 px-6 bg-white rounded">
																<span class="svg-icon svg-icon-lg svg-icon-primary">
																	<!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24" />
																			<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																			<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
																		</g>
																	</svg>
																	<!--end::Svg Icon-->
																</span>
																<input type="search" id="search" class="form-control border-0 font-weight-bold pl-2" placeholder="Search Parts" />
																
															</form>
															<div id="err" class="mt-2" style="display: none"></div><div class="mt-3 shadow-sm" id="results" style="width: 100%; background: #fff; padding: 5px 7px 5px 7px; display: none;position: relative;">
																    
																</div>
															<!--end::Form-->
														</div>
														<div class="d-none d-md-flex flex-row-fluid bgi-no-repeat bgi-position-y-center bgi-position-x-left bgi-size-cover" style="background-image: url(assets/media/svg/illustrations/progress.svg);"></div>
													
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Change Top Product</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i aria-hidden="true" class="ki ki-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="background-color:#DAF0FD;">
                                     	<div class="d-flex flex-column flex-lg-row-auto w-auto w-lg-350px w-xl-450px w-xxl-500px p-10 p-md-20">
															<h1 class="font-weight-bolder text-dark">Search Parts</h1>
															<div class="font-size-h4 mb-8">Find Products</div>
															<!--begin::Form-->
															<form class="d-flex flex-center py-2 px-6 bg-white rounded">
															    <input id="ed_id" type="hidden">
																<span class="svg-icon svg-icon-lg svg-icon-primary">
																	<!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg-->
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																		<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																			<rect x="0" y="0" width="24" height="24" />
																			<path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
																			<path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero" />
																		</g>
																	</svg>
																	<!--end::Svg Icon-->
																</span>
																<input type="search" id="ed_search" class="form-control border-0 font-weight-bold pl-2" placeholder="Search Parts" />
																
															</form>
															<div id="err_2" class="mt-2" style="display: none"></div><div class="mt-3 shadow-sm" id="results2" style="width: 100%; background: #fff; padding: 5px 7px 5px 7px; display: none;position: relative;">
																    
																</div>
															<!--end::Form-->
														</div>
														<div class="d-none d-md-flex flex-row-fluid bgi-no-repeat bgi-position-y-center bgi-position-x-left bgi-size-cover" style="background-image: url(assets/media/svg/illustrations/progress.svg);"></div>
													
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
<%- include("footer") %>
<script>
    $('#ed_search').on('input', function(){
   clearTimeout(this.delay);
   this.delay = setTimeout(function(){
      console.log(this.value);
      if(this.value){
      /* call ajax request here */
      axios.post("/search-parts", {
          text: this.value
      }).then(res => {
          if(res.data.data){
              console.log(res.data.data)
              if(res.data.data.length == 0){
                   document.getElementById("results2").style.display = "block";
               return  document.getElementById("results2").innerHTML = '<a class="text-danger nav-link small">No Results Found</a>';
            }
              document.getElementById("results2").style.display = "block";
              var txt = ''
              res.data.data.forEach(part => {
                  txt += `<a onclick="edit_top('${part.id}')" class="nav-link small">${part.name}</a>`
              })
              document.getElementById("results2").innerHTML = txt
          }else {
              document.getElementById("results2").style.display = "none";
               document.getElementById("results2").innerHTML = "";
          }
      })
      }else {
          document.getElementById("results2").style.display = "none";
               document.getElementById("results2").innerHTML = "";
               
      }
   }.bind(this), 800);
});
       $('#search').on('input', function(){
   clearTimeout(this.delay);
   this.delay = setTimeout(function(){
      console.log(this.value);
      if(this.value){
      /* call ajax request here */
      axios.post("/search-parts", {
          text: this.value
      }).then(res => {
          if(res.data.data){
              console.log(res.data.data)
              if(res.data.data.length == 0){
                   document.getElementById("results").style.display = "block";
               return  document.getElementById("results").innerHTML = '<a class="text-danger nav-link small">No Results Found</a>';
            }
              document.getElementById("results").style.display = "block";
              var txt = ''
              res.data.data.forEach(part => {
                  txt += `<a onclick="add_top('${part.id}')" class="nav-link small">${part.name}</a>`
              })
              document.getElementById("results").innerHTML = txt
          }else {
              document.getElementById("results").style.display = "none";
               document.getElementById("results").innerHTML = "";
          }       
      })
      }else {
          document.getElementById("results").style.display = "none";
               document.getElementById("results").innerHTML = "";
               
      }
   }.bind(this), 800);
});

const add_top = (id) => {
     document.getElementById("err").style.display = "none"
    axios.post('/add-top', {
        part_id: id
    }).then(res => {
        if(res.data.message){
            document.getElementById("err").style.display = "block"
          document.getElementById("err").innerHTML = `<p class="small text-success">${res.data.message}</p>`  
          location.reload()
        }else if(res.data.error) {
            document.getElementById("err").style.display = "block"
          document.getElementById("err").innerHTML = `<p class="small text-danger">${res.data.error}</p>`    
        }
    }).catch(err => {
    if(err){
        document.getElementById("err").style.display = "block"
        if(err.response){
            document.getElementById("err").innerHTML = `<p class="small text-danger">${err.response.data.message}</p>`  
        }else {
            document.getElementById("err").innerHTML = `<p class="small text-danger">There was an error processing the request</p>`  
    }
    }
    })
}

const open_edit = (id) => {
  document.getElementById("ed_id").value = id 
  $("#edit").modal("show")
}

const edit_top = (id) => {
     document.getElementById("err_2").style.display = "none"
    axios.post('/edit-top', {
        part_id: id,
        id: document.getElementById("ed_id").value
    }).then(res => {
        if(res.data.message){
            document.getElementById("err_2").style.display = "block"
          document.getElementById("err_2").innerHTML = `<p class="small text-success">${res.data.message}</p>`  
          location.reload()
        }else if(res.data.error) {
            document.getElementById("err_2").style.display = "block"
          document.getElementById("err_2").innerHTML = `<p class="small text-danger">${res.data.error}</p>`    
        }
    }).catch(err => {
    if(err){
        document.getElementById("err_2").style.display = "block"
        if(err.response){
            document.getElementById("err_2").innerHTML = `<p class="small text-danger">${err.response.data.message}</p>`  
        }else {
            document.getElementById("err_2").innerHTML = `<p class="small text-danger">There was an error processing the request</p>`  
    }
    }
    })
}
</script>