<%- include("header") %>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
							<div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Details-->
								<div class="d-flex align-items-center flex-wrap mr-2">
									<!--begin::Title-->
									<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Withdrawals</h5>
									<!--end::Title-->
									<!--begin::Separator-->
									<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
									<!--end::Separator-->
									<!--begin::Search Form-->
									<div class="d-flex align-items-center" id="kt_subheader_search">
										<span class="text-dark-50 font-weight-bold" id="kt_subheader_total"><%= withdraws.length %> Total</span>
										<form class="ml-5">

										</form>
									</div>
									<!--end::Search Form-->
									<!--begin::Group Actions-->
									<!--end::Group Actions-->
								</div>
								<!--end::Details-->
								<!--begin::Toolbar-->
								<!--end::Toolbar-->
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container-fluid">
								<!--begin::Card-->
								<div class="card card-custom">
									<!--begin::Header-->
									<div class="card-header flex-wrap border-0 pt-6 pb-0">
										<div class="card-title">
											<h3 class="card-label">Withdrawal Management
											<span class="d-block text-muted pt-2 font-size-sm">Referral Withdrawal made easy</span></h3>
										</div>
										<div class="card-toolbar">

										</div>
									</div>
									<!--end::Header-->
									<!--begin::Body-->
									<div class="card-body">
									<% if(withdraws.length > 0)	{ %>									
									<!--begin: Datatable-->
										<table class="table table-bordered" id="tb">
											<thead>
												<tr>
													<th>User</th>
													<th>Status</th>
													<th>Amount</th>
													<th>Points</th>
													<th>Account</th>
													<th>Bank Name</th>
												    <th>Date</th>
												    <th>Action</th>
												</tr>
											</thead>
											<tbody>
											    <% withdraws.forEach(withdraw => { %>
												<tr>
													<td><span style="width: 250px;"><div class="d-flex align-items-center">
													    <div class="symbol symbol-40 symbol-light-primary flex-shrink-0">									
													    <span class="symbol-label font-size-h4 font-weight-bold text-uppercase"><%= withdraw.user.firstName.split("")[0] %></span></div>								
													    <div class="ml-4">									
													    <div class="text-dark-75 font-weight-bolder font-size-lg mb-0"><%= withdraw.user.firstName %> <%= withdraw.user.lastName %></div>
													    </div></div></span></td>
													<td><% if(withdraw.status == "pending"){ %><span class="badge badge-warning"><%= withdraw.status %> </span><% }else if(withdraw.status == "declined") { %> <span class="badge badge-danger"><%= withdraw.status %></span><% }else if(withdraw.status == "accepted") { %> <span class="badge badge-success"><%= withdraw.status %></span> <% } %></td>
													<td>NGN <%= withdraw.amount %></td>
													<td><%= withdraw.points %></td>
														<td><span style="width: 250px;"><div class="d-flex align-items-center">							
													    <div class="">									
													    <div class="text-dark-75 font-weight-bolder font-size-lg mb-0"><%= withdraw.account_name %></div>
													    <a class="text-muted font-weight-bold text-hover-primary"><%= withdraw.account_no %></a></div></div></span></td>
													<td><%= withdraw.bank %></td>
													<td><%= moment(withdraw.createdAt).format("LL") %></td>
													<td>   <% if(withdraw.status == "pending"){ %><div class="dropdown">
                                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    Action
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                 
                                                                    <a class="dropdown-item" onclick="conf('<%= withdraw.id %>')">Confirm</a>
                                                                    <a class="dropdown-item" onclick="decline('<%= withdraw.id %>')">Decline</a>
                                                                    
                                                                </div>
                                                            </div><% } %></td>
													
												</tr>
												<% }) %>
											</tbody>
										</table>
										<!--end: Datatable-->
										<% }else { %>
										<center class="mt-5 pt-3">
										    <img src="/clean.svg" height="200px" class="img mb-3"/>
										    <p class="small text-muted">No Withdrawal Requests</p>
										</center>
										<% } %>
									</div>
									<!--end::Body-->
								</div>
								<!--end::Card-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>

<%- include("footer") %>
	<script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
		<script src="assets/js/pages/crud/datatables/basic/basic.js"></script>

	<script>
	     const conf = (id) => {
     axios.post("/confirm-withdrawal", {
         id: id
     }).then(res => {
         if(res.data.message){
             $.alert(res.data.message);
             location.reload()
         }
     }).catch(err => {
                if(err){
                    if(err.response){
                        $.alert(err.response.data.error);
                    }else {
                        $.alert("There was an error with your request");
                    }
                }
            })
 }
 
 const decline = (id) => {
     $.confirm({
    title: 'Delete!',
    content: 'Proceed to decline this Request?',
    buttons: {
        proceed: function () {
            axios.post("/decline-withdrawal", {
                id: id
            }).then(data => {
                console.log(data)
                if(data.data.message){
                    $.alert(data.data.message);
                    location.reload()
                }
            }).catch(err => {
                if(err){
                    if(err.response){
                        $.alert(err.response.data.error);
                    }else {
                        $.alert("There was an error with your request");
                    }
                }
            })
        },
        cancel: function () {
            $.alert('Canceled!');
        }
    }
});
 }
	</script>